<% @page_title = "Create Account" %>

<% @page_message = "Create a new account" %>

<% form(class: "rodauth form-group", method: :post) do %>

  <%== part(
    "components/form/text",
    name: "name",
    label: "Full Name",
    attributes: {
      required: true,
      autocomplete: "name"
    }
  ) %>

  <%== render("components/rodauth/login_field") %>
  <%== render("components/rodauth/password_field") %>
  <%== part("components/rodauth/password_field", confirm: true) %>
  <%== render("components/form/cloudflare_turnstile") %>

  <div class="auth-centered-content">
    <%== part("components/form/submit_button", text: "Create Account") %>
    <a href="/login" class="auth-secondary-link">Sign in to existing account</a>
  </div>
<% end %>

<%== render("auth/social_buttons") %>
