<% @page_title = "Create Account" %>

<% @page_message = "Create a new account" %>

<% form(class: "rodauth space-y-6", role: :form, method: :post) do %>
  <%== rodauth.create_account_additional_form_tags %>

  <%== part(
    "components/form/text",
    name: "name",
    label: "Full Name",
    attributes: {
      required: true,
      autocomplete: "name"
    }
  ) %>

  <%== render("components/rodauth/login_field") %>
  <%== render("components/rodauth/password_field") %>
  <%== part("components/rodauth/password_field", confirm: true) %>
  <%== render("components/form/cloudflare_turnstile") %>

  <div class="flex flex-col text-center">
    <%== part("components/form/submit_button", text: "Create Account") %>
    <a href="/login" class="mt-2 text-sm font-semibold leading-6 text-gray-900">Sign in to existing account</a>
  </div>
<% end %>

<%== render("auth/social_buttons") %>
