<% @page_title = "Login" %>

<% @page_message = "Sign in to your account" %>

<div class="form-group">
  <% form(class: "rodauth form-group", method: :post, id: "login-form") do %>

    <%== render("components/rodauth/login_field") %>
    <% if rodauth.valid_login_entered? %>
      <% if rodauth.has_password? %>
        <%== render("components/rodauth/password_field") %>
      <% end %>
    <% end %>
  <% end %>

  <% if rodauth.valid_login_entered? %>
    <% identities = AccountIdentity.where(account_id: rodauth.account_id).all %>
    <% unless identities.empty? %>
      <div class="divider-label">
        <span class="divider-text"><%= rodauth.has_password? ? "Or login" : "Login" %>
          with:</span>
      </div>
    <% end %>

    <% identities.each do |identity| %>
      <% if identity.provider.start_with?("0p") %>
        <% provider = OidcProvider.with_pk!(UBID.to_uuid(identity.provider)) %>
        <% provider_name = provider.display_name %>
        <% content_security_policy.add_form_action(provider.url) %>
      <% end %>
      <% form(action: rodauth.omniauth_request_path(identity.provider), method: :post, class: "grow") do %>
        <button
          class="btn social-login-button"
          type="submit"
        >
          <%== part("components/icon", name: identity.provider.to_s) unless provider_name %>
          <span class="social-login-text"><%= provider_name || identity.provider.capitalize %></span>
        </button>
      <% end %>
    <% end %>
  <% end %>

  <% if !rodauth.valid_login_entered? || rodauth.has_password? %>
    <div class="flex-between">
      <div class="flex-center">
        <input
          id="remember-me"
          name="remember-me"
          type="checkbox"
          class="form-checkbox"
          form="login-form"
        >
        <label for="remember-me" class="remember-me-label">Remember me</label>
      </div>

      <div class="text-sm">
        <a
          href="/reset-password-request?login=<%= Rack::Utils.escape(rodauth.param("login")) %>"
          class="forgot-password-link"
        >Forgot your password?</a>
      </div>
    </div>
  <% end %>

  <div class="auth-centered-content">
    <% if !rodauth.valid_login_entered? || rodauth.has_password? %>
      <%== part("components/form/submit_button", text: "Sign in", attributes: {form: "login-form"}) %>
    <% end %>
    <% unless rodauth.valid_login_entered? %>
      <a href="/create-account" class="auth-secondary-link">Create a new account</a>
    <% end %>
  </div>
</div>

<%== render("auth/social_buttons") unless rodauth.valid_login_entered? %>
