<% @page_title = "Login" %>

<% @page_message = "Sign in to your account" %>

<form class="rodauth space-y-6" role="form" method="POST">
  <%== rodauth.login_additional_form_tags %>
  <%== rodauth.csrf_tag %>

  <%== render("components/rodauth/login_field") %>
  <%== render("components/rodauth/password_field") %>

  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <input
        id="remember-me"
        name="remember-me"
        type="checkbox"
        class="h-4 w-4 rounded border-gray-300 text-orange-600 focus:ring-orange-600"
      >
      <label for="remember-me" class="ml-2 block text-sm text-gray-900">Remember me</label>
    </div>

    <div class="text-sm">
      <a href="/reset-password-request" class="font-medium text-orange-600 hover:text-orange-700">Forgot your password?</a>
    </div>
  </div>

  <div class="flex flex-col text-center">
    <%== render("components/form/submit_button", locals: { text: "Sign in" }) %>
    <a href="/create-account" class="mt-2 text-sm font-semibold leading-6 text-gray-900">Create a new account</a>
  </div>
</form>

<%== render("auth/social_buttons") %>
