<% @page_title = "2FA - One-Time Password" %>

<% @page_message = "Verify your sign in" %>

<% form(action: rodauth.otp_auth_path, role: :form, method: :post, class: "rodauth space-y-6") do %>
  <%== rodauth.otp_auth_additional_form_tags %>

  <%== render("components/rodauth/otp_auth_code_field") %>

  <div class="flex flex-col text-center">
    <%== part("components/form/submit_button", text: rodauth.otp_auth_button) %>
    <p class="mt-10 text-center text-sm text-gray-400">
      Can't access your authentication app?
      <br>
      Can't access your authentication app?
      <br>
      <a
        href="/<%= rodauth.recovery_auth_route %>"
        class="font-semibold leading-6 text-orange-500 hover:text-orange-700"
      >
        Enter a recovery code
      </a>
      or
      <a
        href="mailto:support@ubicloud.com"
        class="font-semibold leading-6 text-orange-500 hover:text-orange-700"
      >
        contact support
      </a>
    </p>
  </div>
<% end %>

<%== rodauth.otp_auth_form_footer %>
