<% @page_title = "Verify New Email" %>

<% if rodauth.authenticated? %>
  <div class="space-y-1">
    <%== render(
      "components/breadcrumb",
      locals: {
        back: "/account",
        parts: [["My Account", "/account"], ["Verify New Email", "#"]]
      }
    ) %>
    <%== render("components/page_header", locals: { title: "My Account" }) %>
  </div>

  <div class="grid gap-6">
    <form role="form" method="POST">
      <%== rodauth.csrf_tag %>
      <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
        <div class="px-4 py-5 sm:p-6">
          <%== render("account/tab") %>
          <div class="mt-6">
            <%== render("components/form/submit_button", locals: { text: "Click to Verify New Email" }) %>
          </div>
        </div>
      </div>
    </form>
  </div>
<% else %>
  <% @page_message = "Verify your new email" %>

  <form class="rodauth space-y-6" role="form" method="POST">
    <%== rodauth.csrf_tag %>

    <div class="flex flex-col text-center">
      <%== render("components/form/submit_button", locals: { text: "Click to Verify New Email" }) %>
      <a href="/login" class="mt-2 text-sm font-semibold leading-6 text-gray-900">Sign in to an another account</a>
    </div>
  </form>
<% end %>
