<% @page_title = "Manage Rollouts" %>

<% data = @strands.map do |strand|
  h = strand.values.slice(:prog, :label, :try)
  h[:id] = strand.ubid
  frame = strand.stack[0]
  data = h[:data] = {}

  if frame["completed"].empty?
    if (time = frame["monitor_github_runners_until"])
      data["monitor_github_runners_until"] = Time.at(time).utc.strftime("%F %T UTC")
    end
  else
    data["remaining"] = (frame["remaining_host_ids"] || frame["remaining"])&.size
    data["completed"] = frame["completed"]&.size
  end
  data.compact!

  h[:pause] = if strand.semaphores.find { it.name == "pause" }
    table_form_button("Unpause", action: "/rollouts/unpause/#{strand.ubid}", method: "post")
  else
    table_form_button("Pause", action: "/rollouts/pause/#{strand.ubid}", method: "post")
  end

  h[:destroy] = table_form_button("Destroy", action: "/rollouts/destroy/#{strand.ubid}", method: "post")

  h[:action] = if time
    table_form_button("Github Runners Work", action: "/rollouts/github_runners_work/#{strand.ubid}", method: "post")
  elsif strand.prog == "RolloutSemaphore"
    "#{frame["increment"] ? "increment" : "decrement"} #{frame["semaphore"]}"
  end

  h
end %>

<%== part("components/table", title: "Active Rollouts", table_class: "rollouts-table", data:) %>

<h2>Start Rhizome Rollout</h2>

<%== form({action: "/rollouts/start/RolloutRhizome", method: "post"}, button: "Start Rhizome Rollout") %>

<h2>Start Semaphore Rollout</h2>

<% form({action: "/rollouts/start/RolloutSemaphore", method: "post", id: "start-local-e2e"}, button: "Start Semaphore Rollout", wrapper: :div) do |f| %>
  <%== f.input(:select, key: :class, label: "Class", required: true, add_blank: true, options: semaphore_classes) %>
  <%== f.input(:text, key: :semaphore, label: "Semaphore", required: true) %>
  <%== f.input(:number, key: :gap, label: "Gap (seconds)", required: true, attr: {min: 5, max: 3600}, value: 60) %>
  <%== f.input(:radioset, key: :increment, required: true, options: [["Increment", true], ["Decrement", false]], value: true) %>
<% end %>
