<% if @token
  page_header = "Token #{@token.ubid}"
  ace_options = [
    ["aces[][action]", @action_options.to_h { |k, v| [k, k ? v.map { [_1.ubid, _1.name] }.sort_by! { _2 } : v] }],
    ["aces[][object]", @object_options.to_h { |k, v| [k, k ? v.map { [_1.ubid, _1.name] } : v] }]
  ]
  form_action = path(@token)
  table_headers = %w[Action Object]
  edit_perm = true

  unrestricted = @token.unrestricted_token_for_project?(@project.id)
  restriction_title, restriction_path =
    if unrestricted
      ["Restrict", "#{@project.path}/token/#{@token.ubid}/restrict-access"]
    else
      ["Unrestrict", "#{@project.path}/token/#{@token.ubid}/unrestrict-access"]
    end
else
  page_header = "Access Control"
  ace_options = [
    ["aces[][subject]", @subject_options.to_h { |k, v| [k, k ? v.map { [_1.ubid, _1.name] } : v] }],
    ["aces[][action]", @action_options.to_h { |k, v| [k, k ? v.map { [_1.ubid, _1.name] }.sort_by! { _2 } : v] }],
    ["aces[][object]", @object_options.to_h { |k, v| [k, k ? v.map { [_1.ubid, _1.name] } : v] }]
  ]
  form_action = "#{user_path}/access-control"
  table_headers = %w[Subject Action Object]
  edit_perm = has_project_permission("Project:editaccess")
end
@page_title = "#{@project.name} - #{page_header}" %>

<%== render("project/user-tabbar") unless @token %>

<div class="form-group">
  <%== part(
    "components/page_header",
    title: page_header,
    breadcrumbs: [%w[Projects /project], [@project.name, @project.path], [page_header, "#"]]
  ) %>
</div>

<div class="content-grid">
  <% unless unrestricted %>
    <% if @token.nil? && edit_perm %>
      <div class="flex-header">
        <div class="flex-title">
          Access is allowed if there is an access control entry allowing the subject to take the action on the object.
          Subjects, actions, and objects can all be tags, which are used for grouping. The recommended way to handle
          access control in Ubicloud is to create appropriate tags, add the subjects, actions, and objects to the tags,
          and create the minimum number of access control entries you need to enforce the access you want. However, you
          can create access control entries referencing specific subjects, actions, or objects.
        </div>
      </div>
    <% end %>

    <% form(action: form_action, method: :post, id: "access-control-form") do %>
      <div class="table-card">
        <table id="access-control-entries" class="min-w-full divide-y divide-gray-300 group">
          <thead class="table-header-conditional <% if @token %> hidden group-[&:has(tr:nth-child(n+3))]:table-header-group <% end %>">
            <tr>
              <% table_headers.each do |type| %>
                <th scope="col">
                  <%= type %>
                  <% unless @token %>
                    <a
                      id="<%= type.downcase %>-tags-link"
                      href="<%= "#{@project.path}/user/access-control/tag/#{type.downcase}" %>"
                      class="icon-orange text-xs"
                    >
                      (Tags)
                    </a>
                  <% end %>
                </th>
              <% end %>
              <% if edit_perm %>
                <th scope="col"></th>
              <% end %>
            </tr>
          </thead>
          <tbody class="table-body-bg">
            <% @aces.append(["template", [], true]).each do |ubid, tags, editable| %>
              <% editable &&= edit_perm %>
              <tr id="ace-<%= ubid %>" class="<%= "existing-aces#{"-view" unless editable}" unless ubid == "template" %>">
                <% if editable %>
                  <% ace_options.each_with_index do | (name, options), index| %>
                    <% attributes = (!@token && index == 0 && ubid != "template") ? { required: "required" } : {} %>
                    <td class="table-cell-muted">
                      <%== part(
                        "components/form/select",
                        id: "ace-#{ubid}-#{index}",
                        name:,
                        selected: tags[index]&.ubid,
                        options:,
                        classes: table_headers[index].downcase,
                        attributes:
                      ) %>
                    </td>
                  <% end %>
                  <td class="access-control-cell">
                    <%== hidden_inputs("aces[][ubid]" => ubid) %>
                    <%== part("components/form/checkbox", id_prefix: "ace-#{ubid}-", name: "aces[][deleted]", options: [%w[true Delete]]) %>
                  </td>
                <% else %>
                  <% tags.each do |tag| %>
                    <td class="values table-cell-muted">
                      <%= ace_label(tag) %>
                    </td>
                  <% end %>
                  <% if edit_perm %>
                    <td class="access-control-cell"></td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
            <% if @aces.count == 1 %>
              <tr class="group-[&:has(tr:nth-child(n+3))]:hidden">
                <td colspan="3" class="access-control-empty-cell">
                  <p class="spaced-bottom-md">Currently, this token has no access to the project.</p>
                  <p>You should grant the token the access you think the token should have. Be aware that the token can
                    never have more access to the project than your account has. Each access control entry has a single
                    action and object. Access is allowed if there is an access control entry allowing the token to take
                    the action on the object. Actions and objects can be tags, which are used for grouping multiple
                    actions or multiple objects into a single entity.</p>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% if edit_perm %>
          <div class="access-control-footer">
            <%== part("components/button", icon: "hero-plus", text: "New Access Control Entry", attributes: { id: "new-ace-btn" }) %>
            <%== part("components/button", text: "Save All") %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <% if @token %>
    <div class="table-card">
      <div class="card-body">
        <% form(action: restriction_path, method: :post) do %>
          <div class="flex-header-sm">
            <div>
              <h3><%= restriction_title %>
                Personal Access Token</h3>
              <div class="description-text">
                <p>
                  <% if unrestricted %>
                    This token currently has the same access to this project that your account has. If you would like
                    to restrict the access of this token, use the "Restrict Token Access" button. After restricting
                    token access, the token will have no access to the project, and you can grant the specific access
                    you want the token to have. Be aware that the token can never have more access to the project than
                    your account has.
                  <% else %>
                    This token currently has access to the project based on the access control entries above. If you
                    would like to remove access control restrictions, and grant the token full access to your account,
                    click on the "Unrestrict Token Access" button.
                  <% end %>
                </p>
              </div>
            </div>
            <div id="restrict-<%=@token.ubid%>" class="actions-right">
              <div class="action-button-column">
                <%== part("components/form/submit_button", text: "#{restriction_title} Token Access") %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
