<% page_action = "#{@ace.new? ? "Create" : "Update"}#{" Token" if @token} Access Control Entry"
@page_title = "#{@project_data[:name]} - #{page_action}"
breadcrumb_parts =
  if @token
    [
      ["Personal Access Tokens", "#{@project_data[:path]}/user/token"],
      ["Token Access Control", "#{@project_data[:path]}/user/token/#{@token.ubid}/access-control"]
    ]
  else
    [["Access Control", "#{@project_data[:path]}/user/access-control"]]
  end %>
<%== render("project/user-tabbar") %>

<div class="space-y-1">
  <%== render(
    "components/page_header",
    locals: {
      title: page_action,
      breadcrumbs: [
        %w[Projects /project],
        [@project_data[:name], @project_data[:path]],
        *breadcrumb_parts,
        [page_action, "#"]
      ]
    }
  ) %>
</div>

<div class="grid gap-6">
  <form id="access-control-entry" role="form" method="POST">
    <%== csrf_tag(request.path_info) %>

    <% unless @token %>
      <%== render(
        "components/form/select",
        locals: {
          label: "Subject",
          name: "subject",
          selected: @ace.subject_ubid,
          options:
            { nil => [["", "Choose a Subject"]], **SubjectTag.options_for_project(@project) }.to_h do |k, v|
              [k, k ? v.map { [_1.ubid, _1.name] } : v]
            end
        }
      ) %>
    <% end %>

    <%== render(
      "components/form/select",
      locals: {
        label: "Action",
        name: "action",
        selected: @ace.action_ubid,
        options:
          { nil => [["", "All Actions"]], **ActionTag.options_for_project(@project) }.to_h do |k, v|
            [k, k ? v.map { [_1.ubid, _1.name] }.sort_by! { _2 } : v]
          end
      }
    ) %>

    <%== render(
      "components/form/select",
      locals: {
        label: "Object",
        name: "object",
        selected: @ace.object_ubid,
        options:
          { nil => [["", "All Objects"]], **ObjectTag.options_for_project(@project) }.to_h do |k, v|
            [k, k ? v.map { [_1.ubid, _1.name] } : v]
          end
      }
    ) %>

    <div class="px-4 py-5 sm:p-6">
      <%== render("components/form/submit_button", locals: { text: page_action }) %>
    </div>
  </form>
</div>
