<% @page_title = "#{@project_data[:name]} - Access Control" %>

<% ace_options = [
  ["aces[][subject]", @subject_options.to_h { |k, v| [k, k ? v.map { [_1.ubid, _1.name] } : v] }],
  ["aces[][action]", @action_options.to_h { |k, v| [k, k ? v.map { [_1.ubid, _1.name] }.sort_by! { _2 } : v] }],
  ["aces[][object]", @object_options.to_h { |k, v| [k, k ? v.map { [_1.ubid, _1.name] } : v] }]
] %>
<%== render("project/user-tabbar") %>

<div class="space-y-1">
  <%== render(
    "components/page_header",
    locals: {
      title: "Access Control",
      breadcrumbs: [%w[Projects /project], [@project_data[:name], @project_data[:path]], ["Access Control", "#"]]
    }
  ) %>
</div>

<div class="grid gap-6">
  <% if (edit_perm = has_project_permission("Project:editaccess")) %>
    <div class="md:flex md:items-center md:justify-between">
      <div class="min-w-0 flex-1">
        Access control in Ubicloud is defined using access control entries. Each access control entry has a single
        subject, action, and object. Access is allowed if there is an access control entry allowing the subject to take
        the action on the object. Subjects, actions, and objects can all be tags, which are used for grouping. The
        recommended way to handle access control in Ubicloud is to create appropriate tags, add the subjects, actions,
        and objects to the tags, and create the minimum number of access control entries you need to enforce the access
        you want. However, you can create access control entries referencing specific subjects, actions, or objects.
        You can click on the Subject, Action, and Object buttons below to manage the related tags.
      </div>
    </div>
  <% end %>

  <form id="access-control-form" action="<%= "#{@project_data[:path]}/user/access-control" %>" role="form" method="POST">
    <%== csrf_tag("#{@project_data[:path]}/user/access-control") %>
    <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
      <table id="access-control-entries" class="min-w-full divide-y divide-gray-300">
        <thead class="bg-gray-50">
          <tr>
            <% %w[Subject Action Object].each do |type| %>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                <%== render(
                  "components/button",
                  locals: {
                    text: type,
                    link: "#{@project_data[:path]}/user/access-control/tag/#{type.downcase}"
                  }
                ) %>
              </th>
            <% end %>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></th>
          </tr>
        </thead>

        <tbody class="divide-y divide-gray-200 bg-white">
          <% @aces.append(["template", [], true]).each do |ubid, tags, editable| %>
            <tr id="ace-<%= ubid %>" class="<%= (ubid == "template") ? "hidden" : "" %>">
              <% if editable && edit_perm %>
                <%== render("components/form/hidden", locals: { name: "aces[][ubid]", value: ubid }) %>
                <%== render("components/form/hidden", locals: { name: "aces[][deleted]", value: false }) %>
                <% ace_options.each_with_index do | (name, options), index| %>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <%== render("components/form/select", locals: { name:, selected: tags[index]&.ubid, options: }) %>
                  </td>
                <% end %>
                <td class="py-4 px-3 text-right">
                  <%== render(
                    "components/button",
                    locals: {
                      text: "Remove",
                      icon: "hero-trash",
                      extra_class: "remove-ace-btn",
                      type: "danger"
                    }
                  ) %>
                </td>
              <% else %>
                <% tags.each do |tag| %>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <%= ace_label(tag) %>
                  </td>
                <% end %>
                <td class="py-4 px-3 text-right"></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="px-3 py-4 flex justify-between">
        <%== render(
          "components/button",
          locals: {
            icon: "hero-plus",
            text: "New Access Control Entry",
            attributes: {
              id: "new-ace-btn"
            }
          }
        ) %>
        <%== render("components/button", locals: { text: "Save All" }) %>
      </div>
    </div>
  </form>
</div>
