<% @page_title = "Project Billing"

if @project.billing_info
  @invoices = @project.invoices.prepend(@project.current_invoice)
end

@usage_alerts = @project.usage_alerts_dataset.eager(:user).all %>

<% if billing_info = @project.billing_info %>
  <%== part(
    "components/page_header",
    breadcrumbs: [%w[Projects /project], [@project.name, @project.path], %w[Billing #]]
  ) %>

  <div class="content-grid">
    <!-- Summary -->
    <div>
      <dl class="<%= (@project.discount > 0) ? 'stats-grid-4' : 'stats-grid' %>">
        <div class="card-body">
          <dt class="stat-label truncate">Current Usage</dt>
          <dd class="stat-value"><%= money(@invoices.first.subtotal) %></dd>
        </div>
        <div class="card-body">
          <dt class="stat-label truncate">Last Month</dt>
          <dd class="stat-value"><%= (@invoices.count > 1) ? money(@invoices[1].subtotal) : "-" %></dd>
        </div>
        <div class="card-body">
          <dt class="stat-label truncate">Remaining Credit</dt>
          <dd class="stat-value"><%= money(@project.credit.to_f) %></dd>
        </div>
        <% if @project.discount > 0 %>
          <div class="card-body">
            <dt class="stat-label truncate">Discount</dt>
            <dd class="stat-value"><%= @project.discount %>%</dd>
          </div>
        <% end %>
      </dl>
    </div>
    <!-- Billing Info Update Card -->
    <% stripe_data = billing_info.stripe_data %>
    <div class="flex-header-with-bottom-padding">
      <div class="flex-title">
        <h3>
          Billing Details
        </h3>
      </div>
    </div>
    <div class="table-card">
      <% form(action: billing_path, method: :post) do %>
        <div class="card-body">
          <div class="form-group2">
            <div>
              <div class="form-grid-8">
                <div class="form-col-4">
                  <%== part(
                    "components/form/text",
                    name: "name",
                    label: "Billing Name",
                    value: stripe_data["name"],
                    attributes: {
                      required: true
                    }
                  ) %>
                </div>
                <div class="form-col-4">
                  <%== part(
                    "components/form/text",
                    name: "email",
                    label: "Billing Email",
                    value: stripe_data["email"],
                    attributes: {
                      required: true
                    }
                  ) %>
                </div>
                <div class="form-col-2">
                  <%== part(
                    "components/form/select",
                    name: "country",
                    label: "Country",
                    placeholder: "Select a Country",
                    selected: stripe_data["country"],
                    options:
                      ISO3166::Country
                        .all
                        .reject { Config.sanctioned_countries.include?(it.alpha2) }
                        .sort_by(&:common_name)
                        .map { |c| [c.alpha2, c.common_name] }
                        .to_h
                        .to_a,
                    attributes: {
                      required: true
                    }
                  ) %>
                </div>
                <div class="form-col-2">
                  <%== part("components/form/text", name: "state", label: "State", value: stripe_data["state"]) %>
                </div>
                <div class="form-col-2">
                  <%== part("components/form/text", name: "city", label: "City", value: stripe_data["city"]) %>
                </div>
                <div class="form-col-2">
                  <%== part("components/form/text", name: "postal_code", label: "Postal Code", value: stripe_data["postal_code"]) %>
                </div>
                <div class="form-col-full">
                  <%== part(
                    "components/form/textarea",
                    name: "address",
                    label: "Address",
                    value: stripe_data["address"],
                    attributes: {
                      required: true
                    }
                  ) %>
                </div>
                <div class="form-col-4">
                  <%== part(
                    "components/form/text",
                    name: "tax_id",
                    label: billing_info.country&.in_eu_vat? ? "VAT ID" : "Tax ID",
                    value: stripe_data["tax_id"]
                  ) %>
                  <% if billing_info.country&.in_eu_vat? %>
                    <div class="description-text">
                      <% if billing_info.country.alpha2 == "NL" %>
                        21% VAT is collected from customers located in the Netherlands.
                      <% elsif stripe_data["tax_id"].to_s.strip.empty? %>
                        EU registered business can enter their VAT ID to remove VAT from future invoices.
                      <% else %>
                        VAT subject to reverse charge.
                      <% end %>
                    </div>
                  <% end %>
                </div>
                <div class="form-col-4">
                  <%== part("components/form/text", name: "company_name", label: "Company Name", value: stripe_data["company_name"]) %>
                </div>
                <div class="form-col-full">
                  <%== part(
                    "components/form/textarea",
                    name: "note",
                    label: "Invoice Note",
                    value: stripe_data["note"],
                    attributes: {
                      placeholder: "Enter details for your invoices, such as a PO number, tax information, or special instructions"
                    }
                  ) %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="form-actions">
            <%== part("components/form/submit_button", text: "Update") %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- Payment Methods Card -->
    <%== part(
      "components/table_card",
      title: "Payment Methods",
      right_items: [
        part("components/button", text: "Add Payment Method", link: "#{billing_path}/payment-method/create")
      ],
      rows:
        billing_info.payment_methods.map do |pm|
          [
            [
              "#{pm.stripe_data["brand"].capitalize} ending in #{pm.stripe_data["last4"]}",
              "Expires #{pm.stripe_data["exp_month"]}/#{pm.stripe_data["exp_year"]}",
              "Added on #{pm.created_at.strftime("%B %d, %Y")}",
              [
                "delete_button",
                {
                  component: {
                    url: "#{path(pm)}?project_id=#{@project.ubid}",
                    csrf_url: path(pm),
                    confirmation: pm.stripe_data["last4"]
                  },
                  extra_class: "flex-items-center justify-end"
                }
              ]
            ],
            { id: "payment-method-#{pm.ubid}" }
          ]
        end,
      empty_state: "No payment methods. Add new payment method to able create resources in project."
    ) %>
    <%== part("components/discount_code") %>
    <!-- Invoices -->
    <div>
      <div class="flex-header-with-bottom-padding">
        <div class="flex-title">
          <h3>
            Invoices
          </h3>
        </div>
      </div>
      <div class="table-card">
        <table class="table">
          <thead class="table-header-bg">
            <tr>
              <th scope="col">Invoice</th>
              <th scope="col">Amount</th>
              <th scope="col" class="table-header-cell">Status</th>
            </tr>
          </thead>
          <tbody class="table-body-bg">
            <% @invoices.each do |inv| %>
              <tr id="invoice-<%= inv.path_id %>">
                <td scope="row">
                  <a href="<%= path(inv) %>" target="_blank" class="link-primary">
                    <%= inv.name %>
                  </a>
                  <span class="text-xs text-muted italic">
                    <% if inv.invoice_number %>
                      #<%= inv.invoice_number %>
                    <% else %>
                      (not finalized)
                    <% end %>
                  </span>
                </td>
                <td class="table-cell-data">
                  <%= money(inv.cost) %>
                  <% if inv.cost != inv.subtotal %>
                    <span class="text-xs italic">(<%= money(inv.subtotal) %>)</span>
                  <% end %>
                </td>
                <td class="table-cell-status">
                  <%= inv.status %>
                  <% if inv.payable? %>
                    <% form(action: "#{path(inv)}/pay", method: :post) do %>
                      <%== part("components/form/submit_button", text: "Pay Now") %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            <% if @invoices.count == 1 %>
              <tr>
                <td colspan="3">
                  <div class="text-center text-lg p-4">No invoices finalized yet. Invoice for the current month will be created on the first day of next
                    month.</div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <% form(action: billing_path, method: :post) do %>
    <%== part(
      "components/empty_state",
      icon: "hero-banknotes",
      title: "No billing information",
      description: "Get started by adding new billing information.",
      button_title: "Add new billing information"
    ) %>
  <% end %>
  <br/>
  <%== part("components/discount_code") %>
<% end %>
<br/>
<!-- Usage alerts -->
<div>
  <div class="flex-header lg:pb-2">
    <div class="flex-title">
      <h3>
        Usage Alerts
      </h3>
    </div>
  </div>
  <div class="content-grid">
    <div class="table-card">
      <!-- Add usage alert -->
      <div class="card-body">
        <% form(action: "#{@project.path}/usage-alert", method: :post) do %>
          <div class="form-group">
            <div>
              <h2 class="card-heading">Add new usage alert</h2>
              <p class="text-help-sm help-text">
                Usage alerts will be sent to your email address. If you want to send alerts to specific email
                addresses, you need to log in with that email address.
                <br/>
                <br/>
                Please note that alerts are only for informational purposes and no action is taken automatically.
              </p>
            </div>
            <div class="grid-12col">
              <div class="col-5-3">
                <%== part(
                  "components/form/text",
                  name: "alert_name",
                  label: "Alert Name",
                  attributes: {
                    required: true,
                    placeholder: "Alert Name"
                  },
                  extra_class: "pr-3"
                ) %>
              </div>
              <div class="col-5-3">
                <%== part(
                  "components/form/text",
                  name: "limit",
                  label: "Limit",
                  type: "number",
                  attributes: {
                    required: true,
                    placeholder: "100"
                  },
                  extra_class: "pr-3"
                ) %>
              </div>
              <div class="col-2-3 flex-end">
                <%== part("components/form/submit_button", text: "Add") %>
              </div>
            </div>
          </div>
        <% end %>

      </div>
      <!-- List alerts -->
      <% if @usage_alerts.count > 0 %>
        <table class="table">
          <thead class="table-header-bg">
            <tr>
              <th scope="col" class="table-header-cell-left">Name</th>
              <th scope="col" class="table-header-cell-left">Limit</th>
              <th scope="col" class="table-header-cell-left">E-mail</th>
              <th scope="col" class="billing-table-header-cell">
                <span class="sr-only">Remove</span>
              </th>
            </tr>
          </thead>
          <tbody class="table-body-bg">
            <% @usage_alerts.each do |alert| %>
              <tr id="alert-<%= alert.ubid %>" class="table-row-medium">
                <td class="table-cell-primary" scope="row"><%= alert.name %></td>
                <td class="table-cell-primary" scope="row"><%= alert.limit %></td>
                <td class="table-cell-primary" scope="row"><%= alert.user.email %></td>
                <td class="billing-table-cell">
                  <%== part(
                    "components/delete_button",
                    text: "Remove",
                    url: "#{@project.path}/usage-alert/#{alert.ubid}",
                    confirmation: alert.name
                  ) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="text-center p-4">
          No usage alerts...
        </div>
      <% end %>
    </div>
  </div>
</div>
