<% @page_title = "GitHub Runners" %>

<% if @installations.count > 0 %>
  <div class="space-y-1">
    <%== render(
      "components/breadcrumb",
      locals: {
        back: @project_data[:path],
        parts: [%w[Projects /project], [@project_data[:name], @project_data[:path]], ["GitHub Runners", "#"]]
      }
    ) %>
    <%== render("components/page_header", locals: { title: "GitHub Runner Integration" }) %>
  </div>

  <div class="grid gap-6">
    <!-- GitHub Workflow Jobs Card -->
    <div>
      <div class="md:flex md:items-center md:justify-between pb-1 lg:pb-2">
        <div class="min-w-0 flex-1">
          <h3 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-2xl sm:tracking-tight">
            Active Runners
          </h3>
        </div>
      </div>
      <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Runner</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Repository</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Label</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Vm</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 text-left text-sm font-semibold text-gray-900 sm:pr-6">Workflow Job</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            <% if @runners.count > 0 %>
              <% @runners.each do |runner| %>
                <tr id="github-installation-<%= runner[:id]%>">
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" scope="row">
                    <a href="<%= runner[:runner_url] %>" class="text-orange-600 hover:text-orange-700" target="_blank"><%= runner[:ubid] %></a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <%= runner[:repository_name] %>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <%= runner[:label] %>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <% if runner[:vm] %>
                      <a href="<%= @project_data[:path] + runner[:vm][:path] %>" class="text-orange-600 hover:text-orange-700">Vm</a>
                      <%== render("components/vm_state_label", locals: { state: runner[:vm][:state] }) %>
                    <% else %>
                      -
                    <% end %>
                  </td>
                  <td class="whitespace-nowrap py-4 pl-3 pr-4 text-sm sm:pr-6">
                    <% if runner[:job_id] %>
                      <a href="<%= runner[:run_url] %>" class="text-orange-600 hover:text-orange-700" target="_blank"><%= runner[:workflow_name] %></a>
                      -
                      <a href="<%= runner[:job_url] %>" class="text-orange-600 hover:text-orange-700" target="_blank"><%= runner[:job_name] %></a>
                    <% else %>
                      Runner doesn't have a job yet
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="5">
                  <div class="text-center text-xl p-4">
                    No active runners. Change
                    <span class="text-rose-500 bg-slate-200 py-0.5 px-2 rounded font-mono">runs-on: ubicloud</span>
                    in a workflow file and trigger workflow to start a runner.
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- GitHub Installations Card -->
    <div>
      <div class="md:flex md:items-center md:justify-between pb-1 lg:pb-2">
        <div class="min-w-0 flex-1">
          <h3 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-2xl sm:tracking-tight">
            Connected Accounts
          </h3>
        </div>
        <div class="mt-4 flex md:ml-4 md:mt-0">
          <a
            href="<%= @project_data[:path] %>/github/installation/create"
            class="inline-flex items-center rounded-md bg-orange-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600"
          >
            Connect New Account
          </a>
        </div>
      </div>
      <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
        <table class="min-w-full divide-y divide-gray-300">
          <tbody class="divide-y divide-gray-200 bg-white">
            <% @installations.each do |ins| %>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" scope="row">
                  <%= ins[:name] %>
                </td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                  <a href="<%= ins[:installation_url] %>" class="text-orange-600 hover:text-orange-700" target="_blank">Configure</a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <%== render(
    "components/empty_state",
    locals: {
      icon: "github",
      title: "No Connected Accounts",
      description: "Get started by installing our GitHub app to your user or organization account.",
      button_link: "#{@project_data[:path]}/github/installation/create",
      button_title: "Connect New Account"
    }
  ) %>
<% end %>
