<% @page_title = @project[:name] %>

<div class="px-2 sm:px-3 lg:px-4">
  <div class="space-y-1">
    <%== render(
      "components/breadcrumb",
      locals: {
        back: "/project",
        parts: [%w[Projects /project], [@project[:name], @project[:path]], %w[Details #]]
      }
    ) %>
    <%== render("components/page_header", locals: { title: @project[:name] }) %>
  </div>

  <main class="mt-4 md:mt-8">
    <div class="max-w-screen-xl pb-6 lg:pb-16">
      <div class="overflow-hidden rounded-lg bg-white shadow">
        <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-x lg:divide-y-0">
          <%== render("project/show_sidebar") %>
          <div class="divide-y divide-gray-200 lg:col-span-9 pb-10">
            <!-- Details -->
            <div class="px-4 py-6 sm:p-6 lg:pb-8 space-y-4">
              <div>
                <h2 class="text-lg font-medium leading-6 text-gray-900">Details</h2>
              </div>
              <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                <dl class="sm:divide-y sm:divide-gray-200">
                  <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
                    <dt class="text-sm font-medium text-gray-500">ID</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= @project[:ulid] %></dd>
                  </div>
                  <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
                    <dt class="text-sm font-medium text-gray-500">Name</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= @project[:name] %></dd>
                  </div>
                </dl>
              </div>
            </div>
            <!-- Delete -->
            <% if Authorization.has_permission?(@current_user.id, "Project:delete", @project[:id]) %>
              <div>
                <div class="px-4 py-6 sm:px-6">
                  <h2 class="text-lg font-medium leading-6 text-gray-900">Delete project</h2>
                  <p class="mt-1 text-sm text-gray-500">
                    This action will permanently delete this project. Deleted data cannot be recovered. Use it
                    carefully.
                  </p>
                  <button
                    type="button"
                    data-url="<%= request.path %>"
                    data-csrf="<%= csrf_token(request.path, "DELETE") %>"
                    data-confirmation="<%= @project[:name] %>"
                    data-redirect="/project"
                    class="delete-btn inline-flex items-center mt-2 rounded-md bg-rose-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-rose-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-600"
                  >
                    <svg class="-ml-0.5 mr-1.5 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                      />
                    </svg>
                    Delete
                  </button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
