<% page_title = "#{@display_tag_type} Tags"
@page_title = "#{@project.name} - #{page_title}"
@tags = dataset_authorize(@tag_model.where(project_id: @project.id).order(:name), "#{@tag_model}:view").all
modification_allowed = has_project_permission("Project:#{@tag_type.sub(/(ect|ion)\z/, "").downcase}tag") %>

<%== render("project/user-tabbar") %>

<div class="form-group">
  <%== part(
    "components/page_header",
    title: page_title,
    breadcrumbs: [
      %w[Projects /project],
      [@project.name, @project.path],
      ["Access Control", "#{@project.path}/user/access-control"],
      [page_title, "#"]
    ]
  ) %>
</div>

<div class="content-grid">
  <div>
    <div class="table-card">
      <% if modification_allowed %>
        <div class="form-section-padded form-group">
          <h3 class="card-heading"><%= "Create #{@display_tag_type} Tag" %></h3>
          <p class="help-text">
            <% case @tag_type
           when "subject" %>
              Subject tags in Ubicloud are similar to roles or user groups. Instead of creating separate access control
              entries for each user, you can create a single access control entry for the subject tag, and add the
              appropriate users to the tag.
            <% when "action" %>
              Action tags in Ubicloud are groups of actions. Instead of creating separate access control entries for
              each action, you can create a single access control entry for the action tag, and add the appropriate
              actions to the tag.
            <% else %>
              Objects tags in Ubicloud are groups of related objects. Instead of creating separate access control
              entries for each object, you can create a single access control entry for the object tag, and add the
              appropriate objects to the tag.
            <% end %>
            <%= @display_tag_type %>
            tags can contain other
            <%= @tag_type %>
            tags, recursively, to allow for easier management.
          </p>

          <% form(action: "#{@project.path}/user/access-control/tag/#{@tag_type}", method: :post) do %>
            <div class="grid-3col" style="grid-template-columns: repeat(12, minmax(0, 1fr));">
              <div class="col-span-12 md:col-span-5">
                <%== part("components/form/text", name: "name", button_title: "Create", attributes: { required: true, placeholder: "Name" }) %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if @tags.empty? %>
        <div class="empty-section-centered">
          <h3 class="tag-list-heading"><%= "No managable #{@tag_type} tags to display" %></h3>
        </div>
      <% else %>
        <table id="tag-list" class="table">
          <thead class="table-header-bg">
            <tr>
              <th scope="col" class="table-header-cell-left">Name</th>
              <th scope="col" class="table-header-cell"></th>
            </tr>
          </thead>
          <tbody class="table-body-bg">
            <% @tags.each do |tag| %>
              <% editable = !(@tag_type == "subject" && tag.name == "Admin") && modification_allowed %>
              <tr id="<%= tag.ubid %>">
                <td class="pl-4 pr-3 sm:pl-6 py-4 whitespace-nowrap text-sm text-muted">
                  <%= tag.name %>
                </td>
                <td class="table-cell-actions">
                  <%== part(
                    "components/button",
                    text: "Manage",
                    link: path(tag),
                    attributes: {
                      id: "#{tag.ubid}-edit"
                    }
                  ) %>
                  <% if editable %>
                    <%== part(
                      "components/delete_button",
                      text: "Remove",
                      url: path(tag),
                      confirmation: tag.name
                    ) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
