<% @page_title = "#{@project_data[:name]} - Token Access Control" %>
<%== render("project/user-tabbar") %>

<div class="space-y-1">
  <%== render(
    "components/page_header",
    locals: {
      title: "Access Control for Token #{@token.ubid}",
      breadcrumbs: [
        %w[Projects /project],
        [@project_data[:name], @project_data[:path]],
        ["Personal Access Tokens", "#{@project_data[:path]}/user/token"],
        ["Token Access Control", "#"]
      ]
    }
  ) %>
</div>

<div class="grid gap-6">
  <div>
    <div class="md:flex md:items-center md:justify-between pb-1 lg:pb-2">
      <div class="min-w-0 flex-1">
        <% if @aces.empty? %>
          Currently, this token has no access to the project.
        <% else %>
          Below are the access control entries for the token.
        <% end %>
        You should grant the token the access you think the token should have. Be aware that the token can never have
        more access to the project than your account has. Token access control in ubicloud is defined using access
        control entries. Each access control entry has a single action and object. Access is allowed if there is an
        access control entry allowing the token to take the action on the object. Actions and objects can be tags,
        which are used for grouping multiple actions or multiple objects into a single entity.
      </div>
      <div class="mb-2 md:mb-0">
        <%== render(
          "components/button",
          locals: {
            text: "Create Token Access Control Entry",
            link: "#{@project_data[:path]}/user/token/#{@token.ubid}/access-control/entry/new"
          }
        ) %>
      </div>
    </div>

    <% unless @aces.empty? %>
      <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
        <table id="access-control-entries" class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></th>
              <% %w[Action Object].each do |type| %>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                  <%= type %>
                </th>
              <% end %>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            <% @aces.each do |ubid, tags, editable| %>
              <tr id="ace-<%= ubid %>">
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" scope="row">
                  <%== render(
                    "components/button",
                    locals: {
                      text: "Edit",
                      link: "#{@project_data[:path]}/user/token/#{@token.ubid}/access-control/entry/#{ubid}"
                    }
                  ) %>
                </td>
                <% tags.each do |tag| %>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <%= ace_label(tag) %>
                  </td>
                <% end %>
                <td class="py-4 pl-3 pr-4 text-right sm:pr-6">
                  <%== render(
                    "components/delete_button",
                    locals: {
                      text: "Remove",
                      url: "#{@project_data[:path]}/user/token/#{@token.ubid}/access-control/entry/#{ubid}",
                      confirmation: "delete entry"
                    }
                  ) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
