<% @page_title = "#{@project_data[:name]} - Users" %>

<div class="space-y-1">
  <%== render(
    "components/breadcrumb",
    locals: {
      back: "/project",
      parts: [%w[Projects /project], [@project_data[:name], @project_data[:path]], %w[Users #]]
    }
  ) %>
  <%== render("components/page_header", locals: { title: "Project Users" }) %>
</div>

<div class="grid gap-6">
  <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
    <!-- Invite user -->
    <div class="px-4 py-5 sm:p-6">
      <form action="<%= "#{@project_data[:path]}/user" %>" role="form" method="POST">
        <%== csrf_tag("#{@project_data[:path]}/user") %>
        <div class="space-y-4">
          <div>
            <h2 class="text-lg font-medium leading-6 text-gray-900">Invite a new user</h2>
            <p class="mt-1 text-sm text-gray-500">
              You can invite new users to your project, though initially they will not have any permissions. You may
              modify the project access policy to grant permissions to these new users.
            </p>
          </div>
          <div class="grid grid-cols-12 gap-6">
            <div class="col-span-9 sm:col-span-6">
              <%== render(
                "components/form/text",
                locals: {
                  name: "email",
                  type: "email",
                  attributes: {
                    required: true,
                    placeholder: "Email"
                  }
                }
              ) %>
            </div>
            <div class="col-span-3 sm:col-span-6">
              <%== render("components/form/submit_button", locals: { text: "Invite" }) %>
            </div>
          </div>
        </div>
      </form>

    </div>
    <!-- Project users -->
    <div class="px-4 py-5 sm:p-6">
      <h2 class="text-lg font-medium leading-6 text-gray-900">Users</h2>
      <p class="mt-1 text-sm text-gray-500">
        Access policies can be utilized to grant permissions to these users. While they will be able to see that they
        are a part of the project, they will not have access to its details without the proper permissions.
      </p>
    </div>
    <!-- List users -->
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Email</th>
          <th scope="col" class="py-3.5 pl-3 pr-4 sm:pr-6">
            <span class="sr-only">Remove</span>
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        <% @users.each do |user| %>
          <tr id="user-<%= user[:ubid]%>" class="whitespace-nowrap text-sm font-medium">
            <td class="py-4 pl-4 pr-3 text-gray-900 sm:pl-6" scope="row"><%= user[:email] %></td>
            <td class="py-4 pl-3 pr-4 text-right sm:pr-6">
              <%== render(
                "components/delete_button",
                locals: {
                  text: "Remove",
                  url: "#{@project_data[:path]}/user/#{user[:ubid]}",
                  confirmation: user[:email],
                  redirect: "#{@project_data[:path]}/user"
                }
              ) %>
            </td>
          </tr>
        <% end %>
        <% @invitations.each do |invitation| %>
          <tr id="invitation-<%= invitation[:email] %>" class="whitespace-nowrap text-sm font-medium">
            <td class="py-4 pl-4 pr-3 text-gray-900 sm:pl-6" scope="row">
              <%= invitation[:email] %>
              <span
                class="inline-flex items-baseline rounded-full ml-1 px-2 text-xs font-semibold leading-5 bg-yellow-100 text-yellow-800"
              >
                Invitation expires on
                <%= invitation[:expires_at] %>
              </span>
            </td>
            <td class="py-4 pl-3 pr-4 text-right sm:pr-6">
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
