<% @page_title = "Authentication Audit Log" %>

<%== part("components/page_header", title: "Authentication Audit Log") %>

<div class="grid gap-6">
  <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
    <div class="px-4 py-5 sm:p-6">
      <% form do %>
        <div class="grid grid-cols-12 gap-3">
          <div class="col-span-12 sm:col-span-4">
            <%== part(
              "components/form/text",
              name: "action",
              label: "Action",
              value: typecast_params.nonempty_str("action"),
              attributes: { placeholder: "Filter by action" }
            ) %>
          </div>
          <div class="col-span-12 sm:col-span-4">
            <%== part(
              "components/form/text",
              name: "metadata",
              label: "Metadata",
              value: typecast_params.nonempty_str("metadata"),
              attributes: { placeholder: 'Filter by metadata, e.g. {"ip":"1.2.3.4"}' }
            ) %>
          </div>
          <div class="col-span-12 sm:col-span-4">
            <%== part(
              "components/form/text",
              name: "end",
              type: "date",
              label: "#{@month_limit} Months Prior To",
              value: @end_date,
              attributes: {required: true}
            ) %>
          </div>
          <div class="col-span-12 sm:col-span-2 flex items-end">
            <%== part("components/form/submit_button", text: "Search") %>
          </div>
        </div>
      <% end %>
    </div>

    <% end_date = @end_date.to_s
    rows =
      @audit_logs.map do |entry|
      [
       [
         entry[:at].getutc.strftime("%F %T"),
         ["<a class=\"text-orange-600\" href=\"?#{h to_query_string("end" => end_date, "action" => entry[:message])}\">#{h entry[:message]}</a>", {escape: false}],
         [
           entry[:metadata].map do |k, v|
             "<a class=\"text-orange-600\" href=\"?#{h to_query_string("end" => end_date, "metadata" => "#{k}=#{v}")}\">#{h k}: #{h v}</a>"
           end.join(", "),
           {escape: false}
         ]
       ],
       { id: UBID.to_ubid(entry[:id]) }
      ]
      end

      if @pagination_key
        link_text = "Next Page"
        @next_page_params["pagination_key"] = @pagination_key
      elsif @next_end_date
        link_text = "Prior 3 Months"
        @next_page_params["end"] = @next_end_date
      end

      if link_text
        rows << [[["<a class=\"text-orange-600\" href=\"?#{h to_query_string(@next_page_params)}\">#{link_text}</a>", {escape: false}]]]
      end %>

    <%== part(
      "components/table_card",
      id: "authentication-audit-log-table",
      headers: ["Time (in UTC)", "Action", "Metadata"],
      empty_state: {
        icon: "hero-document-text",
        title: "No matching authentication audit log entries in date range",
        description: "No matching authentication audit log entries found for your account (access limited to prior 6 months)."
      },
      consistent_styling: true,
      allow_wrap: true,
      rows:
    ) %>
  </div>
</div>
