<% @page_title = "Change Email" %>

<%== part("components/page_header", title: "My Account") %>

<main>
  <div style="max-width: 1280px; padding-bottom: var(--spacing-6);">
    <div class="card">
      <div style="border-bottom: 1px solid var(--gray-200);" class="lg:grid lg:grid-cols-12">
        <%== render("account/submenu") %>
        <div style="border-top: 1px solid var(--gray-200); padding-bottom: 2.5rem;" class="lg:col-span-8 xl:col-span-9 2xl:col-span-10">
          <div class="px-4 py-6 sm:p-6" style="display: flex; flex-direction: column; gap: var(--spacing-4);">
            <h2 class="text-lg font-medium text-gray-900">Change Email Address</h2>
            <% form(action: rodauth.change_login_path, method: :post) do %>
              <div class="mt-6 grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-3 xl:col-span-2">
                  <%== part("components/form/text", label: "Current Email", value: current_account.email, extra_class: "bg-gray-50 text-gray-500 ring-gray-200 ", attributes: {disabled: true}) %>
                </div>
                <div class="col-span-6 sm:col-span-3 xl:col-span-2">
                  <%== part("components/rodauth/login_field", label: "New Email Address") %>
                </div>
                <% if rodauth.change_login_requires_password? %>
                  <div class="col-span-6 sm:col-span-3 xl:col-span-2">
                    <%== render("components/rodauth/password_field") %>
                  </div>
                <% end %>
                <div class="col-span-6">
                  <%== part("components/form/submit_button", text: "Change Email") %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
