<% action = rodauth.has_password? ? "Change" : "Create"
@page_title = "#{action} Password" %>

<%== part("components/page_header", title: "My Account") %>

<main>
  <div class="account-container">
    <div class="card">
      <div class="account-layout-grid">
        <%== render("account/submenu") %>
        <div class="account-content border-t-gray-200 pb-10">
          <div class="form-section-padded account-section">
            <h2 class="text-lg font-medium text-gray-900"><%= action %> Password</h2>
            <% form(action: rodauth.change_password_path, method: :post) do %>
              <div class="form-grid-6">
                <% if rodauth.change_password_requires_password? %>
                  <div class="form-field-small">
                    <%== part("components/rodauth/password_field", label: "Current Password") %>
                  </div>
                <% end %>
                <div class="form-field-small">
                  <%== part("components/rodauth/password_field", label: "#{rodauth.new_password_label}#{rodauth.input_field_label_suffix}", name: rodauth.new_password_param, autocomplete: "new-password") %>
                </div>
                <div class="form-field-small">
                  <%== part("components/rodauth/password_field", label: "New Password Confirmation", confirm: true) %>
                </div>
                <div class="col-span-6">
                  <%== part("components/form/submit_button", text: "#{action} Password") %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
