<% @page_title = "Login Methods"
@identities = current_account.identities_dataset.select_hash(:provider, :uid)
social_login_providers = omniauth_providers.map { |provider,| provider.to_s }
@oidc_identities = @identities.reject { |provider,| social_login_providers.include?(provider) }
@oidc_identity_names = OidcProvider.where(id: @oidc_identities.keys.map! { UBID.to_uuid(it) }).select_hash(:id, :display_name) %>

<%== part("components/page_header", title: "My Account") %>

<main>
  <div class="account-container">
    <div class="card">
      <div class="account-layout-grid">
        <%== render("account/submenu") %>
        <div class="account-content table-body-bg">
          <% omniauth_providers.each do |provider, name| %>
            <div id="login-method-<%= provider %>" class="form-section-padded form-group">
              <div class="form-grid-6">
                <div class="form-field-medium">
                  <div class="text-lg font-medium text-gray-900">Login with
                    <%= name %></div>
                  <p class="mt-1 text-sm text-gray-500">Connect your
                    <%= name %>
                    to log in to your Ubicloud account</p>
                </div>
                <div class="form-actions-column">
                  <% if uid = @identities[provider.to_s] %>
                    <% form(action: "/account/login-method/disconnect", method: :post, class: :grow) do %>
                      <%== hidden_inputs(provider:, uid:) %>
                      <%== part("components/button", text: "Disconnect", type: "danger") %>
                    <% end %>
                  <% else %>
                    <% form(action: rodauth.omniauth_request_path(provider, redirect_url: "/account/login-method"), method: :post, class: :grow) do %>
                      <%== part("components/button", text: "Connect") %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

          <% @oidc_identities.each do |provider, uid| %>
            <% display_name = @oidc_identity_names[UBID.to_uuid(provider)] %>
            <div id="login-method-disconnect-oidc-<%= provider %>" class="form-section-padded form-group">
              <div class="form-grid-6">
                <div class="form-field-medium">
                  <div class="text-lg font-medium text-gray-900">Login with
                    <%= display_name %></div>
                  <p class="mt-1 text-sm text-gray-500">You currently allow your
                    <%= display_name %>
                    account to log in to your Ubicloud account using OIDC</p>
                </div>
                <div class="form-actions-column">
                  <% form(action: "/account/login-method/disconnect", method: :post, class: :grow) do %>
                    <%== hidden_inputs(provider:, uid:) %>
                    <%== part("components/button", text: "Disconnect", type: "danger") %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

          <div id="login-method-connect-oidc" class="form-section-padded form-group">
            <form action="/account/login-method/oidc" method="GET" class="grow">
              <div class="form-grid-6">
                <div class="form-field-medium">
                  <div class="text-lg font-medium text-gray-900">Login using an OIDC provider</div>
                  <p class="mt-1 text-sm text-gray-500 mb-2">Allow logging into your Ubicloud account using an OIDC provider</p>
                  <%== part("components/form/text", name: "provider", label: "OIDC Provider ID", attributes: {placeholder: "0p..."}) %>
                </div>
                <div class="form-actions-column mt-8">
                  <%== part("components/button", text: "Connect") %>
                </div>
              </div>
            </form>
          </div>

          <div id="login-method-password" class="form-section-padded form-group">
            <div class="form-grid-6">
              <div class="form-field-medium">
                <div class="text-lg font-medium text-gray-900">Login with Password</div>
                <p class="mt-1 text-sm text-gray-500">
                  <% if rodauth.has_password? %>
                    Change or delete your password. If you delete your password, you can only log in with other
                    methods.
                  <% else %>
                    Create a password to log in to your Ubicloud account
                  <% end %>
                </p>
              </div>
              <div class="form-actions-column">
                <%== part("components/button", text: rodauth.has_password? ? "Change" : "Create", link: "/account/change-password") %>
                <% if rodauth.has_password? %>
                  <% form(action: "/account/login-method/disconnect", method: :post, class: :grow) do %>
                    <%== hidden_inputs(provider: "password") %>
                    <%== part("components/button", text: "Delete", type: "danger") %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
