<aside class="account-sidebar">
  <nav class="account-nav">
    <% disallow_login_methods = rodauth.locked_domain_for(current_account.email)
      [
        ["Multifactor Auth", "/account/multifactor-manage", "hero-lock-closed"],
        ["Login Methods", "/account/login-method", "hero-finger-print", disallow_login_methods],
        ["#{rodauth.has_password? ? "Change" : "Create"} Password", "/account/change-password", "hero-key", disallow_login_methods],
        ["Change Email", "/account/change-login", "hero-envelope", disallow_login_methods],
        ["Close Account", "/account/close-account", "hero-x-circle"]
      ].each do |label, url, icon, disallowed| %>
      <% next if disallowed %>
      <% if request.path == url %>
        <a
          href="<%= url %>"
          class="account-nav-item account-nav-item-active"
          aria-current="page"
        >
          <%== part(
            "components/icon",
            name: icon,
            classes: "account-nav-icon account-nav-icon-active"
          ) %>
          <span class="truncate"><%= label %></span>
        </a>
      <% else %>
        <a
          href="<%= url %>"
          class="account-nav-item"
        >
          <%== part("components/icon", name: icon, classes: "account-nav-icon") %>
          <span class="truncate"><%= label %></span>
        </a>
      <% end %>
    <% end %>
  </nav>
</aside>
