<% @page_title = "Multifactor Authentication" %>

<%== part("components/page_header", title: "My Account") %>

<main>
  <div class="account-container">
    <div class="card">
      <div class="account-layout-grid">
        <%== render("account/submenu") %>
        <div class="account-content table-body-bg">
          <div class="form-section-padded form-group">
            <div class="form-grid-6">
              <div class="form-field-medium">
                <div class="card-heading">One-Time Password Generator</div>
                <p class="form-help-text">Connect an authenticator app that generates verification codes.</p>
              </div>
              <div class="form-actions-column">
                <% if rodauth.otp_exists? %>
                  <%== part("components/button", text: rodauth.otp_disable_link_text, link: rodauth.otp_disable_path, type: "danger") %>
                <% else %>
                  <%== part("components/button", text: rodauth.otp_setup_link_text, link: rodauth.otp_setup_path) %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="form-section-padded form-group">
            <div class="form-grid-6">
              <div class="form-field-medium">
                <div class="card-heading">Security Keys</div>
                <p class="form-help-text">Connect a security key to your account.</p>
              </div>
              <div class="form-actions-column">
                <%== part("components/button", text: rodauth.webauthn_setup_link_text, link: rodauth.webauthn_setup_path) %>
                <% if rodauth.webauthn_setup? %>
                  <%== part("components/button", text: rodauth.webauthn_remove_link_text, link: rodauth.webauthn_remove_path, type: "danger") %>
                <% end %>
              </div>
            </div>
          </div>
          <% if rodauth.uses_two_factor_authentication? %>
            <div class="form-section-padded form-group">
              <div class="form-grid-6">
                <div class="form-field-medium">
                  <div class="card-heading">Recovery Codes</div>
                  <p class="form-help-text">Single-use recovery codes for your account.</p>
                </div>
                <div class="form-actions-column">
                  <%== part("components/button", text: rodauth.recovery_codes_link_text, link: rodauth.recovery_codes_path) %>
                </div>
              </div>
            </div>
          <% end %>
          <% if rodauth.two_factor_remove_links.length > 1 %>
            <div class="form-section-padded form-group">
              <%== part(
                "components/button",
                text: rodauth.two_factor_disable_link_text,
                link: rodauth.two_factor_disable_path,
                type: "danger"
              ) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
