<% edit_perm = has_permission?("Vm:edit", @vm) %>

<% if edit_perm %>
  <div class="p-6">
    <%== part("components/rename_object", object: @vm, type: "virtual machine") %>
  </div>
<% end %>

<div class="p-6">
  <div class="flex-header">
    <div class="flex-title">
      <h3 class="section-heading">
        Danger Zone
      </h3>
    </div>
  </div>
  <div class="table-card">
    <!-- Restart Card -->
    <% if edit_perm %>
      <div class="card-body">
        <% form(action: "#{path(@vm)}/restart", method: :post) do %>
          <div class="flex-header-sm">
            <div>
              <h3 class="subsection-heading">Restart virtual machine</h3>
              <div class="description-text">
                <p>This action will restart the virtual machine, causing it to be temporarily offline.</p>
              </div>
            </div>
            <div id="vm-restart-<%= @vm.ubid %>" class="actions-right">
              <div class="action-button-column">
                <%== part("components/form/submit_button", text: "Restart", extra_class: "restart-btn") %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <!-- Delete Card -->
    <% if has_permission?("Vm:delete", @vm) %>
      <div class="card-body">
        <div class="flex-header-sm">
          <div>
            <h3 class="subsection-heading">Delete virtual machine</h3>
            <div class="description-text">
              <p>This action will permanently delete this virtual machine. Deleted data cannot be recovered. Use it
                carefully.</p>
            </div>
          </div>
          <div id="vm-delete-<%= @vm.ubid %>" class="actions-right">
            <%== part("components/delete_button", confirmation: @vm.name, url: path(@vm), redirect: "#{@project.path}/vm") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
