<!DOCTYPE html>
<html class="h-full bg-gray-50">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <title><%= ["UbiCloud", @page_title].compact.join(" - ") %></title>
  <%== assets(:css) %>
  <script
    src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
    crossorigin="anonymous"
  ></script>
</head>

<body class="h-full">
  <div>
    <%== render("layouts/sidebar_desktop") %>
    <%== render("layouts/sidebar_mobile") %>
    <div class="lg:pl-72">
      <%== render("layouts/topbar") %>
      <main class="py-10">
        <div class="px-4 sm:px-6 lg:px-8">
          <%== yield %>
        </div>
      </main>
    </div>
  </div>
  <%== assets(:js) %>
</body>
</html>