<div class="app-topbar">
  <button type="button" class="toggle-mobile-menu topbar-menu-button">
    <span class="sr-only">Open sidebar</span>
    <%== part("components/icon", name: "hero-bars-3") %>
  </button>
  <!-- Separator -->
  <div class="topbar-separator"></div>
  <a href="<%= @project_permissions ? "#{@project.path}/dashboard" : "/project" %>">
    <img class="topbar-logo" src="/logo-primary.png" alt="Ubicloud">
  </a>
  <div class="topbar-right-section">
    <div class="topbar-actions">
      <!-- Profile dropdown -->
      <div class="topbar-profile-dropdown">
        <button type="button" class="topbar-profile-button" title="<%= current_account.email %>">
          <%== part("components/icon", name: "hero-user-circle", classes: "topbar-profile-icon") %>
          <span class="topbar-profile-info">
            <span class="topbar-profile-name" aria-hidden="true"><%= current_account.name %></span>
            <%== part("components/icon", name: "hero-chevron-down", classes: "topbar-chevron-icon") %>
          </span>
        </button>
        <div
          class="topbar-profile-menu"
          role="menu"
          tabindex="-1"
        >
          <div class="topbar-profile-header">
            <p class="text-sm">Signed in as</p>
            <p class="topbar-profile-email">
              <%= current_account.email %></p>
          </div>
          <div>
            <a href="/account" class="dropdown-menu-link" role="menuitem" tabindex="-1">My Account</a>
            <a href="/project" class="dropdown-menu-link" role="menuitem" tabindex="-1">Projects</a>
          </div>
          <div>
            <% form(action: "/logout", method: :post) do %>
              <button type="submit" class="topbar-logout-button" role="menuitem" tabindex="-1">Log out</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
