<div
  class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8"
>
  <button type="button" class="toggle-mobile-menu -m-2.5 p-2.5 text-gray-700 lg:hidden">
    <span class="sr-only">Open sidebar</span>
    <%== render("components/icon", locals: { name: "hero-bars-3" }) %>
  </button>
  <!-- Separator -->
  <div class="h-6 w-px bg-gray-900/10 lg:hidden"></div>
  <img class="h-5 w-auto lg:hidden" src="/logo-primary.png" alt="Ubicloud">
  <div class="flex flex-1 gap-x-4 self-stretch justify-end lg:gap-x-6">
    <div class="flex items-center gap-x-4 lg:gap-x-6">
      <% if @project_data %>
        <div class="text-gray-900 text-sm text-right lg:text-base">
          <span class="font-semibold">Provider:</span>
          <%= @project_data.dig(:provider, :display_name) %>
        </div>
      <% end %>
      <!-- Separator -->
      <div class="hidden lg:block lg:h-6 lg:w-px lg:bg-gray-900/10" aria-hidden="true"></div>
      <!-- Profile dropdown -->
      <div class="relative group dropdown text-sm leading-6 text-gray-900">
        <button type="button" class="-m-1.5 flex items-center p-1.5">
          <%== render("components/icon", locals: { name: "hero-user-circle", classes: "h-8 w-8 rounded-full bg-gray-50" }) %>
          <span class="hidden lg:flex lg:items-center">
            <span class="ml-3 font-semibold" aria-hidden="true"><%= @current_user.name %></span>
            <%== render("components/icon", locals: { name: "hero-chevron-down", classes: "h-5 w-5 ml-2 text-gray-400" }) %>
          </span>
        </button>
        <div
          class="hidden group-[.active]:block absolute right-0 z-10 mt-2.5 w-32 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none"
          role="menu"
          tabindex="-1"
        >
          <a href="/account" class="block px-3 py-1 hover:bg-gray-100" role="menuitem" tabindex="-1">My Account</a>
          <a href="/project" class="block px-3 py-1 hover:bg-gray-100" role="menuitem" tabindex="-1">Projects</a>
          <form action="/logout" method="post">
            <%== csrf_tag("/logout") %>
            <button type="submit" class="block px-3 py-1 hover:bg-gray-100 w-full text-left" role="menuitem" tabindex="-1">Log out</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
