<%# locals: (text:, type: "primary", link: nil, icon: nil, attributes: {}, extra_class: nil, right_icon: nil) %>
<% color = BUTTON_COLOR[type] %>

<% if link %>
  <a
    href="<%= link %>"
    class="btn <%= color %> <%= extra_class %>"
    <% attributes.each do |atr_key, atr_value| %>
    <%= atr_key %>="<%= atr_value %>"
    <% end%>
  >
    <% if icon %>
      <%== part("components/icon", name: icon, classes: "btn-icon") %>
    <% end %>
    <%= text %>
  </a>
<% else %>
  <button
    class="btn <%= color %> <%= extra_class %>"
    <% attributes.compact.each do |atr_key, atr_value| %>
    <%= atr_key %>="<%= atr_value %>"
    <% end%>
  >
    <% if icon %>
      <%== part("components/icon", name: icon, classes: "btn-icon") %>
    <% end %>
    <%= text %>
    <% if right_icon %>
      <%== part("components/icon", name: right_icon, classes: "btn-icon") %>
    <% end %>
  </button>
<% end %>
