<%# locals: (content:, message: "Copied", revealable: false, classes: "") %>

<div class="copyable-content flex-center-gap <%= classes %>" style="display: inline-flex; gap: var(--spacing-1);" data-content="<%= content %>" data-message="<%= message %>">
  <% if revealable %>
    <%== part("components/revealable_content", content:) %>
  <% else %>
    <%= content %>
  <% end %>
  <img src="/icons/hero-clipboard-document.svg" width="18px" class="inline-container copy-button cursor-pointer ms1"/>
</div>
