<%# locals: (title:, icon:, description:, button_link: nil, button_title: nil, buttons: nil) %>

<div class="text-center empty-state">
  <%== part("components/icon", name: icon, classes: "empty-state-icon") %>
  <h3 class="empty-state-title"><%= title %></h3>
  <p class="empty-state-description"><%= description %></p>
  <div class="empty-state-actions">
    <% if buttons %>
      <% buttons.each do |text, link| %>
        <%== part("components/button", link:, text:) %>
      <% end %>
    <% elsif button_link %>
      <%== part("components/button", link: button_link, text: button_title) %>
    <% elsif button_title %>
      <div class="button-container-center">
        <%== part("components/button", text: button_title, attributes: { type: "submit" }) %>
      </div>
    <% end %>
  </div>
</div>
