<%# locals: (title: @page_title, breadcrumbs: [], right_items: nil, back: breadcrumbs.dig(-2, 1) || "#") %>

<div class="page-header">
  <% unless breadcrumbs.empty? %>
    <div>
      <nav class="sm:hidden" aria-label="Back">
        <a href="<%= back %>" class="flex-center breadcrumb-link no-underline">
          <%== part("components/icon", name: "hero-chevron-left", classes: "breadcrumb-icon") %>
          Back
        </a>
      </nav>
      <nav class="breadcrumb hidden sm:flex" aria-label="Breadcrumb">
        <ol role="list" class="breadcrumb-list">
          <% breadcrumbs.each_with_index do |(name, url), index| %>
            <li>
              <div class="flex-center">
                <% if index > 0 %>
                  <span class="breadcrumb-separator">
                    <%== part("components/icon", name: "hero-chevron-right", classes: "breadcrumb-icon") %>
                  </span>
                <% end %>
                <a href="<%= url %>" class="breadcrumb-link"><%= name %></a>
              </div>
            </li>
          <% end %>
        </ol>
      </nav>
    </div>
  <% end %>

  <div class="flex-header pb-4">
    <div class="min-w-0">
      <h2 class="page-heading-lg"><%= title %></h2>
    </div>
    <% if right_items %>
      <div class="action-buttons">
        <%== right_items.join %>
      </div>
    <% end %>
  </div>
</div>
