<%# locals: (numerator:, denominator:, title:) %>
<% progress = [100, denominator.zero? ? 100 : 100 * numerator / denominator].min
color = (progress < 60) ? "progress-low" : (progress < 80) ? "progress-medium" : "progress-high" %>

<div class="progress-bar-header">
  <span class="progress-title"><%= title %></span>
  <span class="progress-stats"><%= numerator %>/<%= denominator %>
    (<%= progress %>%)</span>
</div>
<div class="progress-bar-track">
  <div class="progress-bar-fill <%= color %> w-[<%= progress %>%]"></div>
</div>
