<%# locals: (tabs:) %>
<div class="tabbar-responsive spaced-bottom-lg">
  <nav class="tabbar" aria-label="Tabs">
    <% tabs.each_with_index do |(label, url, active), i| %>
      <% active = (request.path == url) if active.nil? %>
      <% first_class = (i == 0) ? "tab-item-first" : "" %>
      <% last_class = (i == tabs.size - 1) ? "tab-item-last" : "" %>
      <% active_class = active ? "tab-active" : "tab-inactive" %>
      <a
        href="<%= url %>"
        class="tab-item <%= first_class %> <%= last_class %> <%= active_class %>"
      >
        <span><%= label %></span>
      </a>
    <% end %>
  </nav>
</div>
