<%# locals: (title: nil, headers: [], rows:, empty_state: nil, right_items: nil, footer: nil) %>

<div>
  <% if title || right_items %>
    <div class="flex-header">
      <div class="flex-title">
        <h3 class="section-heading">
          <%= title %>
        </h3>
      </div>
      <% if right_items %>
        <div class="action-buttons">
          <%== right_items.join %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="table-card">
    <table class="table">
      <% unless headers.empty? || rows.empty? %>
        <thead class="bg-gray-50">
          <tr>
            <% headers.each_with_index do |name, i| %>
              <th
                scope="col"
                <% if i == 0 %>
                class="table-header-first"
                <% elsif i + 1 == headers.length %>
                class="table-header-last"
                <% else %>

                <% end %>
              >
                <%= name %>
              </th>
            <% end %>
          </tr>
        </thead>
      <% end %>
      <tbody class="border-b-gray-200 bg-white">
        <% if rows.empty? %>
          <tr>
            <td colspan="<%= headers.length %>" class="text-center py-4 px-8 lg:px-32">
              <% if empty_state.is_a?(Hash) %>
                <%== part("components/empty_state", **empty_state) %>
              <% else %>
                <%== empty_state %>
              <% end %>
            </td>
          </tr>
        <% else %>
          <% rows.each do |columns, row_opts| %>
            <% row_opts ||= {} %>
            <tr id="<%= row_opts[:id] %>">
              <% columns.each_with_index do |(value, col_opts), i| %>
                <% col_opts ||= {} %>
                <td
                  <% if i == 0
                      cls="table-cell-first"
                    elsif i + 1 == columns.length
                      cls="table-cell-last"
                    else
                      cls="table-cell"
                    end
                  %>
                  class="<%= cls %> <%= col_opts[:extra_class] %>"
                >
                  <% if value.is_a?(Array) %>
                    <% (first_value, first_opts), (second_value, second_opts) = value %>
                    <div class="table-text-primary">
                      <%== part("components/value_content", content: first_value, opts: first_opts) %>
                    </div>
                    <% if second_value %>
                      <div class="table-text-secondary">
                        <%== part("components/value_content", content: second_value, opts: second_opts) %>
                      </div>
                    <% end %>
                  <% else %>
                    <%== part("components/value_content", content: value, opts: col_opts) %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%== footer %>
  </div>
</div>
