<%# locals: (content:, opts: nil) %>
<% opts ||= {} %>
<% if opts[:copyable] && content %>
  <%== part("components/copyable_content", content:, revealable: opts[:revealable]) %>
<% elsif opts[:link] %>
  <a href="<%= opts[:link] %>" class="font-medium text-orange-600">
    <%= content %>
  </a>
<% elsif opts[:component] %>
  <%== part("components/#{content}", **opts[:component]) %>
<% elsif opts[:escape] == false %>
  <%== content %>
<% else %>
  <%= content || "-" %>
<% end %>
