<%# locals: (subject:, greeting:, body:, button_title:, button_link:) %><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= subject %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="color-scheme" content="light">
    <meta name="supported-color-schemes" content="light">
    <% style_html = File.read("views/email/style.html") %>
    <%== style_html %>
  </head>
  <body>

    <table class="wrapper" width="100%" cellpadding="0" cellspacing="0" role="presentation">
      <tr>
        <td align="center">
          <table class="content" width="100%" cellpadding="0" cellspacing="0" role="presentation">
            <%== render("email/header") %>
            <!-- Email Body -->
            <tr>
              <td class="body" width="100%" cellpadding="0" cellspacing="0" style="border: hidden !important;">
                <table class="inner-body" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation">
                  <!-- Body content -->
                  <tr>
                    <td class="content-cell">

                      <h1><%= greeting %></h1>

                      <% Array(body).each do |line| %>
                        <p><%= line %></p>
                      <% end %>

                      <% if button_link %>
                        <%== part("email/button", title: button_title, link: button_link) %>
                      <% end %>
                      <p>
                        Regards,<br>
                        Ubicloud
                      </p>

                      <% if button_link %>
                        <table class="subcopy" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                          <tr>
                            <td>
                              <p>
                                If you're having trouble clicking the button, copy and paste the URL below into your
                                web browser:
                                <span class="break-all"><a href="<%= button_link %>"><%= button_link %></a></span>
                              </p>
                            </td>
                          </tr>
                        </table>
                      <% end %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <%== render("email/footer") %>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
