<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    >
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>

    <title><%= ["UbiCloud", @page_title].compact.join("/") %></title>
    <style nonce="<%= @request_nonce %>">
	 .error {border: 1px #a00 solid;}
	 span.error_message {
	     color: #a00;
	     background-color: #ffffe0;
	     border-color: 1px solid #eeeed0;
	     padding: 5px 2px;
	     display: inline-block; 
	 }
	 span.error_message:before {
	     content: "(!) "
	 }
	 input.rodauth_hidden {
	     display: none;
	 }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">UbiCloud</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Virtual Machines
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/vm/create">Create</a>
              <a class="dropdown-item" href="/vm">List</a>
            </div>
          </li>
        </ul>

        <% if rodauth.logged_in? %>
          <form action="/logout" class="navbar-form pull-right" method="post">
            <%== csrf_tag("/logout") %>
            <input
              class="btn btn-primary form-control auth-button"
              type="submit"
              value="Logout"
            />
          </form>
        <% end %>
      </div>
    </nav>

    <div class="container">
      <% if sms = last_sms_sent %>
        <div class="alert alert-success"><p><%= sms %></p></div>
      <% end %>
      <% if flash["notice"] %>
        <div class="alert alert-success"><p><%= flash["notice"] %></p></div>
      <% end %>
      <% if flash["error"] %>
        <div class="alert alert-danger"><p><%= flash["error"] %></p></div>
      <% end %>
      <h1><%= @page_title %></h1>

      <%== yield %>

      <% if mail = last_mail_sent %>
        <h2>Last Email Sent</h2>
        <pre>From:
          <%= mail.from.join %>
          To:
          <%= mail.to.join %>
          Subject:
          <%= mail.subject %>

          <%= mail.body %></pre>
      <% end %>
    </div>

  </body>
</html>
