<li>
  <div class="group <%= items.compact.map { it[2] }.any? ? "active" : "" %>">
    <button
      type="button"
      class="sidebar-group-toggle"
    >
      <%== part("components/icon", name: icon, classes: "text-white shrink-0") %>
      <%= name %>
      <div class="ml-auto shrink-0 sidebar-chevron-rotate">
        <%== part("components/icon", name: "hero-chevron-right") %>
      </div>
    </button>
    <ul class="spaced-top-sm sidebar-submenu form-group">
      <% items.compact.each do |item_name, item_url, item_is_active| %>
        <li>
          <a
            href="<%= item_url %>"
            class="sidebar-nav-item <%= item_is_active ? "sidebar-nav-item-active" : "sidebar-nav-item-inactive" %>"
          >
            <%= item_name %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</li>
