<%# locals: (url:, is_active:, icon:, name:, html_id: nil, has_permission: true) %>

<% if has_permission %>
  <li>
    <a
      href="<%= url %>"
      <% if html_id %>
        id="<%= html_id %>"
      <% end %>
      class="<%= is_active ? "sidebar-item-active" : "sidebar-item" %>"
    >
      <%== part("components/icon", name: icon, classes: "icon-md no-shrink text-white") %>
      <%= name %>
    </a>
  </li>
<% end %>
