<div class="group dropdown dropdown-inline-full">
  <div>
    <button
      type="button"
      class="sidebar-project-button sidebar-project-switcher"
      id="menu-button"
    >
      <%== part("components/icon", name: "hero-folder-open", classes: "icon-lg rounded-full") %>
      <span><%= @project ? @project[:name] : "Global" %></span>
      <%== part("components/icon", name: "hero-chevron-up-down", classes: "icon-lg ml-auto") %>
    </button>
  </div>
  <div
    class="sidebar-project-menu"
    role="menu"
    tabindex="-1"
  >
    <div class="project-switcher-menu" role="none">
      <% current_account.projects.each do |p| %>
        <a
          href="<%= p.path %>/dashboard"
          class="sidebar-project-menu-item <% if p.id == @project&.id %>sidebar-project-menu-item-active<% end %>"
          role="menuitem"
          tabindex="-1"
        ><%= p.name %></a>
      <% end %>
    </div>
    <div class="project-switcher-actions" role="none">
      <a
        href="/project/create"
        class="sidebar-project-menu-create group"
        role="menuitem"
        tabindex="-1"
      >
        <div class="mr-2 text-muted group-transition-colors">
          <%== part("components/icon", name: "hero-plus", classes: "icon-md stroke-[2.5px]") %>
        </div>
        Create Project
      </a>
    </div>
  </div>
</div>
