<% @page_title = "Caches" %>

<%== render("github/tabbar") %>

<div class="content-grid">
  <div class="table-card">
    <table class="table">
      <tbody class="table-body-bg">
        <% if @entries_by_repo.count > 0 %>
          <% @entries_by_repo.each do |repository_id, entries| %>
            <tr class="cache-group-row group" data-repository="<%= repository_id %>">
              <th scope="colgroup" class="table-cell-full-width table-header-semibold table-header-group-active">
                <div class="flex">
                  <%== part("components/icon", name: "hero-chevron-right", classes: "icon-md group-[.active]:rotate-90") %>
                  <%= entries.first.repository.name %>
                </div>
              </th>
              <th scope="colgroup" class="cache-actions-cell-text table-header-semibold table-header-group-active" colspan="2">
                <%= entries.count %> cache entries
              </th>
              <th scope="colgroup" class="cache-actions-cell-text table-header-semibold table-header-group-active" colspan="2">
                <%= humanize_size(entries.sum { it.size.to_i }) %> used of <%= @quota_per_repo %>
              </th>
            </tr>
            <% entries.each do |entry| %>
              <tr id="entry-<%= entry.ubid %>" class="hidden-cache-entry cache-group-<%= repository_id %>">
                <td class="table-cell-full-width" scope="row">
                  <div class="label-medium"><%= entry.key %></div>
                  <div class="cache-created-time">created <span title="<%= entry.created_at.strftime("%Y-%m-%d %H:%M UTC") %>"><%= humanize_time(entry.created_at) %></span></div>
                </td>
                <td class="table-cell-normal text-muted">
                  <div><%= entry.scope %></div>
                </td>
                <td class="table-cell-normal text-muted whitespace-nowrap">
                  <div class="cache-size-badge" title="<%= entry.size %> bytes">
                    <%= humanize_size(entry.size) %>
                  </div>
                </td>
                <td class="table-cell-normal text-muted whitespace-nowrap">
                  <% if entry.last_accessed_at %>
                    <div>Last used</div>
                    <div title="<%= entry.last_accessed_at.strftime("%Y-%m-%d %H:%M UTC") %>"> <%= humanize_time(entry.last_accessed_at) %></div>
                  <% else %>
                    <div>Never used</div>
                  <% end %>
                </td>
                <td class="cache-actions-cell-text">
                  <%== part(
                    "components/delete_button",
                    url: "#{path(@installation)}/repository/#{repository_id}/cache/#{entry.ubid}",
                    text: ""
                  ) %>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% else %>
          <tr>
            <td colspan="6">
              <div class="empty-section-centered">
                <h3 class="empty-section-heading">No cache entries</h3>
                <p>
                  Check out <a href="https://www.ubicloud.com/docs/github-actions-integration/ubicloud-cache" class="link-orange">our documentation</a> to use Ubicloud Cache for faster caching.
                </p>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
