<% @page_title = "GitHub Runner Settings" %>

<%== render("github/tabbar") %>

<div class="content-grid">
  <!-- Premium runners -->
  <div class="github-settings-card">
    <div class="pricing-content-wrapper">
      <div class="flex-center">
        <h3 class="page-title-large">
          Premium Runners
        </h3>
        <% if @installation.premium_runner_enabled? %>
          <span class="promo-badge">
            Enabled
          </span>
        <% end %>
      </div>
      <% if @installation.free_runner_upgrade? %>
        <span class="badge-success">
          You're eligible for an exclusive
          <span class="text-semibold">50% off</span>
          premium runners until
          <span class="text-semibold"><%= @installation.free_runner_upgrade_expires_at.strftime("%B %d, %Y") %></span>
        </span>
      <% end %>
      <p class="section-description">
        Speed up your builds with cutting edge gaming CPUs! We automatically route your jobs to premium machines. If
        capacity's full, you seamlessly fall back to standard runners with no extra wait time. You always get billed by
        the minute and for the runner type you're using.
      </p>
      <div class="pricing-divider-section">
        <h4 class="pricing-divider-title">What’s different</h4>
        <div class="pricing-divider-line"></div>
      </div>
      <ul role="list" class="overview-grid">
        <% [
          "Twice as fast",
          "One fifth the cost",
          "10x better price-performance",
          "100GB free cache storage",
        ].each do |text| %>
          <li class="flex-gap-3">
            <%== part("components/icon", name: "hero-check", classes: "h-6 w-5 flex-none text-orange-600") %>
            <%= text %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="pricing-card-wrapper">
      <div
        class="pricing-card"
      >
        <div class="github-settings-form-wrapper form-group">
          <p class="github-settings-price-section">
            <span class="pricing-headline">Boost your builds</span>
          </p>
          <%== part("components/form/toggle_form", name: "premium_runner_enabled", action: "#{@project.path}/github/#{@installation.ubid}", active: @installation.premium_runner_enabled?) %>
          <div class="pricing-note">
            <p class="text-semibold">1/5th the cost of GitHub runners</p>
            <p>For example, 2 gaming vCPUs, 8GB of RAM, 80GB of NVMe storage comes at $0.0016/min.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="table-card">
      <!-- Transparent Cache Card -->
      <div class="card-body">
        <div class="flex-header-sm">
          <div>
            <div class="flex-center">
              <h3 class="subsection-heading">Ubicloud Transparent Cache</h3>
              <% if @installation.cache_enabled %>
                <span class="promo-badge">
                  Enabled
                </span>
              <% end %>
            </div>
            <div class="description-text">
              <p>Transparent cache allows you to use Ubicloud's cache service without modifying your workflow files.
                Check out
                <a href="https://www.ubicloud.com/docs/github-actions-integration/ubicloud-cache" class="text-emphasis">our documentation</a>
                for information.</p>
            </div>
          </div>
          <div class="actions-right">
            <div class="action-button-column">
              <%== part("components/form/toggle_form", name: "cache_enabled", action: "#{@project.path}/github/#{@installation.ubid}", active: @installation.cache_enabled) %>
            </div>
          </div>
        </div>
      </div>
      <!-- Configure Repositories -->
      <div class="card-body">
        <div class="flex-header-sm">
          <div>
            <h3 class="subsection-heading">Repository Access</h3>
            <div class="description-text">
              <p>Configure the list of repositories that Ubicloud can access on GitHub's UI.</p>
            </div>
          </div>
          <div id="configure-<%=@installation.ubid%>" class="actions-right">
            <div class="action-button-column">
              <%== part("components/button", text: "Configure", link: "https://github.com/apps/#{Config.github_app_name}/installations/#{@installation.installation_id}") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
