<% @page_title = "GitHub Runner Settings" %>

<%== render("github/tabbar") %>

<div class="grid gap-6">
  <div>
    <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
      <!-- Transparent Cache Card -->
      <div class="px-4 py-5 sm:p-6">
        <form action="<%= "#{@project_data[:path]}/github/#{@installation.ubid}" %>" role="form" method="POST">
          <%== csrf_tag("#{@project_data[:path]}/github/#{@installation.ubid}") %>
          <%== part("components/form/hidden", name: "cache_enabled", value: !@installation.cache_enabled) %>
          <div class="sm:flex sm:items-center sm:justify-between">
            <div>
              <h3 class="text-base font-semibold leading-6 text-gray-900">Ubicloud Transparent Cache</h3>
              <div class="mt-2 text-sm text-gray-500">
                <p>Transparent cache allows you to use Ubicloud’s cache service without modifying your workflow files.
                  Check out
                  <a href="https://www.ubicloud.com/docs/github-actions-integration/ubicloud-cache" class="text-orange-500 font-medium">our documentation</a>
                  for information.</p>
              </div>
            </div>
            <div id="cache-toggle-<%=@installation.ubid%>" class="mt-5 sm:ml-6 sm:mt-0 sm:flex sm:flex-shrink-0 sm:items-center">
              <div class="col-span-12 sm:col-span-2 flex justify-end items-end">
                <%== part(
                  "components/button",
                  **(
                    if @installation.cache_enabled
                      { text: "Disable ", type: "danger" }
                    else
                      { text: "Enable", type: "primary" }
                    end
                  )
                ) %>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Configure Repositories -->
      <div class="px-4 py-5 sm:p-6">
        <div class="sm:flex sm:items-center sm:justify-between">
          <div>
            <h3 class="text-base font-semibold leading-6 text-gray-900">Repository Access</h3>
            <div class="mt-2 text-sm text-gray-500">
              <p>Configure the list of repositories that Ubicloud can access on GitHub's UI.</p>
            </div>
          </div>
          <div id="configure-<%=@installation.ubid%>" class="mt-5 sm:ml-6 sm:mt-0 sm:flex sm:flex-shrink-0 sm:items-center">
            <div class="col-span-12 sm:col-span-2 flex justify-end items-end">
              <%== part("components/button", text: "Configure", link: "https://github.com/apps/#{Config.github_app_name}/installations/#{@installation.installation_id}") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
