<%# locals: (object:, type:, tabs:, breadcrumb_label:, prefix: type, right_header: nil) %>

<%== part(
  "components/page_header",
  title: "",
  breadcrumbs: [
    %w[Projects /project],
    [@project.name, @project.path],
    [breadcrumb_label, "#{@project.path}/#{type}"],
    [object.name, "#"]
  ]
) %>

<main>
  <div class="split-view-container">
    <div class="flex-none pr-8">
      <aside class="account-sidebar">
        <nav id="<%= type %>-submenu" class="form-group">
          <% tabs.each do |label, page, icon| %>
            <% if @page == page
               url_class = "sidebar-item-active"
               icon_class = "icon-orange"
       else
               url_class = "border-transparent text-primary transition-colors hover:text-primary group flex items-center border-l-4 px-3 py-2 text-sm font-medium"
               icon_class = "text-muted group-transition-colors"
            end %>
            <a href="<%= "#{path(object)}/#{page}" %>" class="<%= url_class %>">
              <%== part("components/icon", name: icon, classes: icon_class + "  no-shrink") %>
              <span class="truncate"><%= label %></span>
            </a>
          <% end %>
        </nav>
      </aside>
    </div>
    <div class="flex-auto pl-8">
      <div class="divide-y">
        <div class="pb-6 flex-between">
          <div>
            <span class="object-name"><%= object.name %></span>
            <span>(id:
              <%= object.ubid %>)</span>
          </div>
          <% if right_header %>
            <div>
              <%== right_header %>
            </div>
          <% end %>
        </div>
        <%== render("#{prefix}/#{@page.tr("-", "_")}") %>
      </div>
    </div>
  </div>
</main>
