<% @connected_subnets = @ps.connected_subnets
@connectable_subnets = @ps.project.private_subnets_dataset.exclude(id: @ps.connected_subnets.map(&:id)).all

perm_checks = {
  "Firewall:view" => Firewall.where(id: @ps.firewalls.map(&:id)),
  "PrivateSubnet:view" => PrivateSubnet.where(id: @connected_subnets.map(&:id))
}

ps_path = path(@ps)

viewable_fws, viewable_subnets =
  perm_checks.map do |perm, ds|
    dataset_authorize(ds, perm).select_hash(:id, Sequel.as(true, :v)).transform_keys! { UBID.from_uuidish(it).to_s }
  end %>

<div class="p-6">
  <%== part(
    "components/table_card",
    title: "Attached Firewalls",
    headers: %w[Name Description],
    empty_state: "No firewall attached",
    rows:
      @ps.firewalls.map do |fw|
        [
          [
            (
              if viewable_fws[fw.ubid]
                [fw.name, { link: path(fw) }]
              else
                fw.name
              end
            ),
            fw.description
          ],
          { id: "fw-#{fw.ubid}" }
        ]
      end
  ) %>
  <!-- Connected Private Subnets List -->
  <div class="mt-6 md:flex md:items-center md:justify-between pb-2 lg:pb-4">
    <div class="min-w-0 flex-1">
      <h3
        class="
          text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-2xl
          sm:tracking-tight
        "
      >
        Connected Subnets
      </h3>
    </div>
  </div>

  <div
    class="
      overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5
      bg-white divide-y divide-gray-200
    "
  >
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th
            scope="col"
            class="
              py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900
              sm:pl-6
            "
          >
            Name
          </th>
          <th
            scope="col"
            class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
          ></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        <% @connected_subnets.each do |subnet| %>
          <tr>
            <td
              class="
                whitespace nowrap py-4 pl-4 pr-3 text-sm font-medium
                text-gray-900 sm:pl-6
              "
              scope="row"
            >
              <% if viewable_subnets[subnet.ubid] %>
                <a
                  href="<%= path(subnet) %>"
                  class="text-orange-600 hover:text-orange-700"
                >
                  <%= subnet.name %>
                </a>
              <% else %>
                <%= subnet.name %>
              <% end %>
            </td>
            <td
              id="cps-delete-<%= subnet.ubid %>"
              class="
                relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm
                font-medium sm:pr-6
              "
            >
              <%== part(
                "components/delete_button",
                url: "#{ps_path}/disconnect/#{subnet.ubid}",
                confirmation_message: "Are you sure to disconnect?",
                redirect: ps_path,
                method: "POST",
                text: "Disconnect"
              ) %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td
            class="
              whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium
              text-gray-900 sm:pl-6
            "
            scope="row"
          >
            <%== part(
              "components/form/select",
              name: "connected-subnet-id",
              label: "",
              placeholder: "Pick a subnet to connect",
              options: @connectable_subnets.map { |s| [s.ubid, s.name] },
              attributes: {
                form: "form-connect-subnet"
              }
            ) %>
          </td>
          <td
            class="
              relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm
              font-medium sm:pr-6
            "
          >
            <% form(action: "#{ps_path}/connect", role: :form, method: :post, id: "form-connect-subnet") do %>
              <%== part("components/form/submit_button", text: "Connect") %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
