<% @page_title = @ps[:name] %>

<div class="space-y-1">
  <%== render(
    "components/breadcrumb",
    locals: {
      back: "#{@project_data[:path]}/private-subnet",
      parts: [
        %w[Projects /project],
        [@project_data[:name], @project_data[:path]],
        ["Private Subnet", "#{@project_data[:path]}/private-subnet"],
        [@ps[:name], "#"]
      ]
    }
  ) %>
  <%== render(
    "components/page_header",
    locals: {
      title: @ps[:name],
      right_items: [render("components/ps_state_label", locals: { state: @ps[:state], extra_class: "text-md" })]
    }
  ) %>
</div>
<div class="grid gap-6">
  <!-- Detail Card -->
  <%== render(
    "components/kv_data_card",
    locals: {
      data: [
        ["ID", @ps[:id]],
        ["Name", @ps[:name]],
        ["Location", @ps[:location]],
        ["IPv6 block", @ps[:net6]],
        ["IPv4 block", @ps[:net4]]
      ]
    }
  ) %>
  <div class="md:flex md:items-center md:justify-between pb-2 lg:pb-4">
    <div class="min-w-0 flex-1">
      <h3 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-2xl sm:tracking-tight">
        Attached VMs
      </h3>
    </div>
  </div>
  <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">VM</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Private IPv4</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Private IPv6</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        <% @nics.each do |nic| %>
          <tr>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
              <% if nic[:vm_name] %>
                <a
                  href="<%= @project_data[:path] + "/location/" + @ps[:location] + "/vm/" + nic[:vm_name] %>"
                  class="text-orange-600 hover:text-orange-700"
                ><%= nic[:vm_name] %></a>
              <% else %>
                -
              <% end %>
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
              <%== render("components/copieble_content", locals: { content: nic[:private_ipv4], message: "Copied Private IPv4" }) %>
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
              <%== render("components/copieble_content", locals: { content: nic[:private_ipv6], message: "Copied Private IPv6" }) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- List attached firewalls, clickable to go to the firewall page -->
  <div class="md:flex md:items-center md:justify-between pb-2 lg:pb-4">
    <div class="min-w-0 flex-1">
      <h3 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-2xl sm:tracking-tight">
        Attached Firewalls
      </h3>
    </div>
  </div>
  <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Description</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        <% @ps[:firewalls].each do |fw| %>
          <tr>
            <td class="whitespace nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" scope="row">
              <% if has_permission?("Firewall:view", fw[:id]) %>
                <a
                  href="<%= "#{@project_data[:path]}/location/#{fw[:location]}/firewall/#{fw[:name]}" %>"
                  class="text-orange-600 hover:text-orange-700"
                ><%= fw[:name] %></a>
              <% else %>
                <%= fw[:name] %>
              <% end %>
            </td>
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" scope="row"><%= fw[:description] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- List connected Private Subnets, clickable to go to the private subnet page -->
  <div class="md:flex md:items-center md:justify-between pb-2 lg:pb-4">
    <div class="min-w-0 flex-1">
      <h3 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-2xl sm:tracking-tight">
        Connected Subnets
      </h3>
    </div>
  </div>
  <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        <% @connected_subnets.each do |subnet| %>
          <tr>
            <td class="whitespace nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" scope="row">
              <% if has_permission?("PrivateSubnet:view", subnet[:id]) %>
                <a
                  href="<%= "#{@project_data[:path]}/location/#{subnet[:location]}/private-subnet/#{subnet[:name]}" %>"
                  class="text-orange-600 hover:text-orange-700"
                ><%= subnet[:name] %></a>
              <% else %>
                <%= subnet[:name] %>
              <% end %>
            </td>
            <td
              id="cps-delete-<%=subnet[:id]%>"
              class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6"
            >
              <%== render(
                "components/delete_button",
                locals: {
                  url: "#{request.path}/disconnect/#{subnet[:id]}",
                  confirmation_message: "Are you sure to disconnect?",
                  redirect: request.path,
                  method: "POST",
                  text: ""
                }
              ) %>
            </td>
          </tr>
        <% end %>
        <tr>
          <form action="<%= "#{request.path}/connect" %>" role="form" method="POST">
            <%== csrf_tag("#{request.path}/connect") %>
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" scope="row">
              <%== render(
                "components/form/select",
                locals: {
                  name: "connected-subnet-ubid",
                  label: "",
                  placeholder: "Pick a subnet to connect",
                  options: @connectable_subnets.map { |s| [s[:id], s[:name]] }
                }
              ) %>
            </td>
            <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
              <%== render("components/form/submit_button", locals: { text: "Connect" }) %>
            </td>
          </form>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Delete Card -->
  <% if has_permission?("PrivateSubnet:delete", @ps[:id]) %>
    <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
      <div class="px-4 py-5 sm:p-6">
        <div class="sm:flex sm:items-center sm:justify-between">
          <div>
            <h3 class="text-base font-semibold leading-6 text-gray-900">Delete private subnet</h3>
            <div class="mt-2 text-sm text-gray-500">
              <p>This action will permanently delete this private subnet. Deleted subnet cannot be recovered. Use it
                carefully.</p>
            </div>
          </div>
          <div class="mt-5 sm:ml-6 sm:mt-0 sm:flex sm:flex-shrink-0 sm:items-center">
            <%== render(
              "components/delete_button",
              locals: {
                confirmation: @ps[:name],
                redirect: "#{@project_data[:path]}/private-subnet"
              }
            ) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
