<% @page_title = @ps[:name]

perm_checks = {
  "Firewall:view" => Firewall.where(id: Sequel.any_uuid(@ps[:firewalls].map { UBID.to_uuid(_1[:id]) })),
  "PrivateSubnet:view" => PrivateSubnet.where(id: Sequel.any_uuid(@connected_subnets.map { UBID.to_uuid(_1[:id]) }))
}

viewable_fws, viewable_subnets =
  perm_checks.map do |perm, ds|
    dataset_authorize(ds, perm).select_hash(:id, Sequel.as(true, :v)).transform_keys! { UBID.from_uuidish(_1).to_s }
  end %>

<%== part(
  "components/page_header",
  breadcrumbs: [
    %w[Projects /project],
    [@project_data[:name], @project_data[:path]],
    ["Private Subnet", "#{@project_data[:path]}/private-subnet"],
    [@ps[:name], "#"]
  ],
  right_items: [part("components/ps_state_label", state: @ps[:state], extra_class: "text-md")]
) %>

<div class="grid gap-6">
  <!-- Detail Card -->
  <%== part(
    "components/kv_data_card",
    data: [
      ["ID", @ps[:id]],
      ["Name", @ps[:name]],
      ["Location", @ps[:location]],
      ["IPv6 block", @ps[:net6]],
      ["IPv4 block", @ps[:net4]]
    ]
  ) %>
  <!-- Nic List -->
  <%== part(
    "components/table_card",
    title: "Attached VMs",
    headers: ["VM", "Private IPv4", "Private IPv6"],
    empty_state: "No VM attached",
    rows:
      @nics.map do |nic|
        [
          [
            (
              if nic[:vm_name]
                [nic[:vm_name], { link: "#{@project_data[:path]}/location/#{@ps[:location]}/vm/#{nic[:vm_name]}" }]
              else
                "-"
              end
            ),
            [nic[:private_ipv4], { copyable: true }],
            [nic[:private_ipv6], { copyable: true }]
          ],
          { id: "nic-#{nic[:id]}" }
        ]
      end
  ) %>
  <!-- Attached Firewall List -->
  <%== part(
    "components/table_card",
    title: "Attached Firewalls",
    headers: %w[Name Description],
    empty_state: "No firewall attached",
    rows:
      @ps[:firewalls].map do |fw|
        [
          [
            (
              if viewable_fws[fw[:id]]
                [fw[:name], { link: "#{@project_data[:path]}/location/#{fw[:location]}/firewall/#{fw[:name]}" }]
              else
                fw[:name]
              end
            ),
            fw[:description]
          ],
          { id: "fw-#{fw[:id]}" }
        ]
      end
  ) %>
  <!-- Connected Private Subnets List -->
  <div class="md:flex md:items-center md:justify-between pb-2 lg:pb-4">
    <div class="min-w-0 flex-1">
      <h3 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-2xl sm:tracking-tight">
        Connected Subnets
      </h3>
    </div>
  </div>
  <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        <% @connected_subnets.each do |subnet| %>
          <tr>
            <td class="whitespace nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" scope="row">
              <% if viewable_subnets[subnet[:id]] %>
                <a
                  href="<%= "#{@project_data[:path]}/location/#{subnet[:location]}/private-subnet/#{subnet[:name]}" %>"
                  class="text-orange-600 hover:text-orange-700"
                ><%= subnet[:name] %></a>
              <% else %>
                <%= subnet[:name] %>
              <% end %>
            </td>
            <td
              id="cps-delete-<%=subnet[:id]%>"
              class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6"
            >
              <%== part(
                "components/delete_button",
                url: "#{request.path}/disconnect/#{subnet[:id]}",
                confirmation_message: "Are you sure to disconnect?",
                redirect: request.path,
                method: "POST",
                text: ""
              ) %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" scope="row">
            <%== part(
              "components/form/select",
              name: "connected-subnet-id",
              label: "",
              placeholder: "Pick a subnet to connect",
              options: @connectable_subnets.map { |s| [s[:id], s[:name]] },
              attributes: {
                form: "form-connect-subnet"
              }
            ) %>
          </td>
          <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
            <form action="<%= "#{request.path}/connect" %>" role="form" method="POST" id="form-connect-subnet">
              <%== csrf_tag("#{request.path}/connect") %>
              <%== part("components/form/submit_button", text: "Connect") %>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Delete Card -->
  <% if has_permission?("PrivateSubnet:delete", @ps[:id]) %>
    <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
      <div class="px-4 py-5 sm:p-6">
        <div class="sm:flex sm:items-center sm:justify-between">
          <div>
            <h3 class="text-base font-semibold leading-6 text-gray-900">Delete private subnet</h3>
            <div class="mt-2 text-sm text-gray-500">
              <p>This action will permanently delete this private subnet. Deleted subnet cannot be recovered. Use it
                carefully.</p>
            </div>
          </div>
          <div class="mt-5 sm:ml-6 sm:mt-0 sm:flex sm:flex-shrink-0 sm:items-center">
            <%== part("components/delete_button", confirmation: @ps[:name], redirect: "#{@project_data[:path]}/private-subnet") %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
