<% @page_title = "Disable One-Time Password" %>

<%== part("components/page_header", title: "My Account") %>

<main>
  <div class="account-container">
    <div class="card">
      <div class="account-layout-grid">
        <%== render("account/submenu") %>
        <div class="account-content table-body-bg">
          <div class="form-section-padded form-group">
            <h2 class="card-heading">Disable One-Time Password Authentication</h2>
            <% form(action: rodauth.otp_disable_path, method: :post) do %>
              <%== rodauth.otp_disable_additional_form_tags %>
              <div class="form-grid-6">
                <% if rodauth.two_factor_modifications_require_password? %>
                  <div class="form-field-small">
                    <%== render("components/rodauth/password_field") %>
                  </div>
                <% end %>
                <div class="col-span-6">
                  <%== part("components/form/submit_button", text: rodauth.otp_disable_button) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
