<% @page_title = "Disable One-Time Password" %>

<%== part("components/page_header", title: "My Account") %>

<main>
  <div style="max-width: 1280px;" pb-6 style="padding-bottom: var(--spacing-6);"">
    <div class="card">
      <div style="border-bottom: 1px solid var(--gray-200);" lg:grid lg:grid-cols-12 ">
        <%== render("account/submenu") %>
        <div style="border-bottom: 1px solid var(--gray-200);" lg:col-span-8 xl:col-span-9 2xl:col-span-10">
          <div class="px-4 py-6 sm:p-6 form-group">
            <h2 class="text-lg font-medium text-gray-900">Disable One-Time Password Authentication</h2>
            <% form(action: rodauth.otp_disable_path, method: :post) do %>
              <%== rodauth.otp_disable_additional_form_tags %>
              <div class="mt-6 grid grid-cols-6 gap-6">
                <% if rodauth.two_factor_modifications_require_password? %>
                  <div class="col-span-6 sm:col-span-3 xl:col-span-2">
                    <%== render("components/rodauth/password_field") %>
                  </div>
                <% end %>
                <div class="col-span-6">
                  <%== part("components/form/submit_button", text: rodauth.otp_disable_button) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
