<% @page_title = "Setup Security Key" %>

<%== part("components/page_header", title: "My Account") %>

<main>
  <div class="account-container">
    <div class="card">
      <div class="account-layout-grid">
        <%== render("account/submenu") %>
        <div class="account-content table-body-bg">
          <div class="form-section-padded form-group">
            <h2 class="card-heading">Setup Security Key</h2>
            <% form(:action => rodauth.webauthn_setup_path, :method => :post, :id => "webauthn-setup-form", "data-credential-options" => (cred = rodauth.new_webauthn_credential).as_json.to_json) do %>
              <%== rodauth.webauthn_setup_additional_form_tags %>
              <%== hidden_inputs(rodauth.webauthn_setup_challenge_param => cred.challenge, rodauth.webauthn_setup_challenge_hmac_param => rodauth.compute_hmac(cred.challenge)) %>
              <input id="webauthn-setup" class="hidden" type="text" name="<%= rodauth.webauthn_setup_param %>" value="" hidden/>
              <div class="form-grid-6">
                <div class="form-field-small">
                  <%== part("components/form/text", name: "name", label: "Key Name", attributes: { required: true }) %>
                </div>
                <% if rodauth.two_factor_modifications_require_password? %>
                  <div class="form-field-small">
                    <%== render("components/rodauth/password_field") %>
                  </div>
                <% end %>
                <div class="col-span-6">
                  <div id="webauthn-setup-button">
                    <%== part("components/form/submit_button", text: rodauth.webauthn_setup_button) %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="<%= "#{rodauth.webauthn_js_host}#{rodauth.webauthn_setup_js_path}" %>"></script>
