<% @page_title = "Remove Security Key" %>

<%== part("components/page_header", title: "My Account") %>

<main>
  <div class="account-container">
    <div class="card">
      <div class="account-layout-grid">
        <%== render("account/submenu") %>
        <div class="account-content table-body-bg">
          <div class="form-section-padded form-group">
            <h2 class="card-heading">Remove Security Key</h2>
            <% form(action: rodauth.webauthn_remove_path, method: :post, id: "webauthn-remove-form") do %>
              <%== rodauth.webauthn_remove_additional_form_tags %>
              <div class="form-grid-6">
                <% if rodauth.two_factor_modifications_require_password? %>
                  <div class="form-field-small">
                    <%== render("components/rodauth/password_field") %>
                  </div>
                <% end %>
                <div class="grid-col-6">
                  <fieldset>
                    <div class="form-group">
                      <% (usage = DB[rodauth.webauthn_keys_table]
                          .where(rodauth.webauthn_keys_account_id_column => rodauth.session_value)
                          .select_hash(rodauth.webauthn_keys_webauthn_id_column, [rodauth.webauthn_keys_last_use_column, :name])
                        ).map do |id, (last_use, name)| %>
                        <div class="checkbox-wrapper">
                          <div class="checkbox-input-wrapper">
                            <input
                              id="webauthn-remove-<%= id %>"
                              name="<%= rodauth.webauthn_remove_param %>"
                              value="<%= id %>"
                              type="radio"
                              class="icon-sm icon-orange"
                              required
                            >
                          </div>
                          <div class="checkbox-label">
                            <label for="webauthn-remove-<%= id %>" class="label-medium"><%= name %></label>
                            <span id="webauthn-remove-<%= id %>-description" class="text-muted">
                              (Last Usage:
                              <%= last_use.strftime("%F %T") %>)
                            </span>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </fieldset>
                  <% if error = rodauth.field_error(rodauth.webauthn_remove_param) %>
                    <p class="spaced-top-sm text-error-sm" id="<%= rodauth.webauthn_remove_param %>-error"><%= error %></p>
                  <% end %>
                </div>
                <div class="grid-col-6">
                  <%== part("components/form/submit_button", text: rodauth.webauthn_remove_button) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
