<% attachable_vms = dataset_authorize(@lb.private_subnet.vms_dataset.eager(:location), "Vm:view")
  .exclude(Sequel[:vm][:id] => @lb.vms_dataset.select(Sequel[:vm][:id]))
  .all
load_balancer_path = "#{@project.path}#{@lb.path}"
edit_perm = has_permission?("LoadBalancer:edit", @lb) %>

<div class="p-6">
  <div class="md:flex md:items-center md:justify-between">
    <div class="min-w-0 flex-1">
      <h3 class="text-2xl font-bold text-gray-900 sm:text-2xl sm:truncate sm:tracking-tight">
        Attached VMs
      </h3>
    </div>
  </div>
  <div class="table-wrapper" style="border-bottom: 1px solid var(--gray-200);"">
    <table class="table">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col">VM</th>
          <th scope="col">Application State</th>
          <% if edit_perm %>
            <th scope="col"></th>
          <% end %>
        </tr>
      </thead>
      <tbody style="border-bottom: 1px solid var(--gray-200);" bg-white" id="lb-vms">
        <% @lb.vms(eager: :load_balancer_vm_ports).each do |vm| %>
          <tr>
            <td class="whitespace nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" scope="row">
              <a href="<%= path(vm) %>" class="text-orange-600"><%= vm.name %></a>
            </td>
            <td class="px-3 py-3.5 whitespace-nowrap text-sm text-gray-900">
              <%= vm.load_balancer_state %>
            </td>
            <td>
              <% form(action: "#{load_balancer_path}/detach-vm", method: :post) do %>
                <input type="hidden" name="vm_id" value="<%= vm.ubid %>">
                <%== part("components/form/submit_button", text: "Detach") %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if edit_perm %>
          <tr>
            <td class="whitespace-nowrap py-4 pl-2 pr-3 text-sm font-medium text-gray-900 sm:pl-6" scope="row">
              <%== part(
                "components/form/select",
                name: "vm_id",
                placeholder: "Select a VM",
                options: attachable_vms.map { [it.ubid, it.name] },
                attributes: {
                  required: true,
                  form: "form-lb-#{@lb.ubid}"
                }
              ) %>
            </td>
            <td>
            </td>
            <td>
              <% form(action: "#{load_balancer_path}/attach-vm", method: :post, id: "form-lb-#{@lb.ubid}") do %>
                <%== part("components/form/submit_button", text: "Attach") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
