<% attachable_vms = dataset_authorize(@lb.private_subnet.vms_dataset.eager(:location), "Vm:view")
  .exclude(Sequel[:vm][:id] => @lb.vms_dataset.select(Sequel[:vm][:id]))
  .all
load_balancer_path = "#{@project.path}#{@lb.path}"
edit_perm = has_permission?("LoadBalancer:edit", @lb) %>

<div class="section-padded">
  <div class="flex-header">
    <div class="flex-title">
      <h3 class="section-heading">
        Attached VMs
      </h3>
    </div>
  </div>
  <div class="table-card">
    <table class="table">
      <thead class="table-header-bg">
        <tr>
          <th scope="col">VM</th>
          <th scope="col">Application State</th>
          <% if edit_perm %>
            <th scope="col"></th>
          <% end %>
        </tr>
      </thead>
      <tbody class="table-body-bg" id="lb-vms">
        <% @lb.vms(eager: :load_balancer_vm_ports).each do |vm| %>
          <tr>
            <td class="table-cell-standard" scope="row">
              <a href="<%= path(vm) %>" class="link-primary"><%= vm.name %></a>
            </td>
            <td class="px-3 py-3.5 whitespace-nowrap text-sm text-gray-900">
              <%= vm.load_balancer_state %>
            </td>
            <td>
              <% form(action: "#{load_balancer_path}/detach-vm", method: :post) do %>
                <input type="hidden" name="vm_id" value="<%= vm.ubid %>">
                <%== part("components/form/submit_button", text: "Detach") %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if edit_perm %>
          <tr>
            <td class="table-cell-compact" scope="row">
              <%== part(
                "components/form/select",
                name: "vm_id",
                placeholder: "Select a VM",
                options: attachable_vms.map { [it.ubid, it.name] },
                attributes: {
                  required: true,
                  form: "form-lb-#{@lb.ubid}"
                }
              ) %>
            </td>
            <td>
            </td>
            <td>
              <% form(action: "#{load_balancer_path}/attach-vm", method: :post, id: "form-lb-#{@lb.ubid}") do %>
                <%== part("components/form/submit_button", text: "Attach") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
