<% min_date = @pg.timeline.earliest_restore_time
max_date = @pg.timeline.latest_restore_time %>

<% if min_date && max_date > min_date %>
  <div class="p-6">
    <% form(action: "#{path(@pg)}/restore", method: :post) do %>
      <div class="form-group">
        <div>
          <h3 class="section-heading">Fork PostgreSQL database</h3>
          <p class="mt-1 text-sm text-gray-500">
            When you fork your existing PostgreSQL database, a new server will be provisioned.
          </p>
        </div>
        <div class="grid-12col">
          <div class="form-field-large">
            <%== part("components/form/text", label: "New server name", name: "name", attributes: { placeholder: @pg.name + "-fork", required: true }) %>
          </div>
          <div class="form-field-large">
            <%== part("components/form/datepicker", label: "Target Time (UTC)", name: "restore_target", default_date: max_date, max_date:, min_date:) %>
          </div>
          <div class="action-button-column">
            <%== part("components/form/submit_button", text: "Fork") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="p-6">
    <div class="text-gray-500">
      No backups available for this PostgreSQL database.
    </div>
  </div>
<% end %>

<% backups = @pg.timeline.backups %>
<% if backups.count > 0 %>
  <div class="p-6">
    <div class="flex-header">
      <div class="flex-title">
        <h3 class="section-heading">Backups</h3>
      </div>
    </div>

    <div class="table-card">
      <table class="table">
        <thead class="table-header-bg">
          <tr>
            <th scope="col">Backup Time</th>
            <th scope="col" class="py-3.5 text-left text-sm font-semibold text-gray-900">Type</th>
            <th scope="col" class="py-3.5 text-left text-sm font-semibold text-gray-900">Fork</th>
          </tr>
        </thead>
        <tbody class="table-body-bg">
          <% backups.each do %>
            <tr>
              <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= it.last_modified %></td>
              <td class="py-4 text-sm font-medium text-gray-900">Full Backup</td>
              <td class="py-4 text-sm font-medium text-gray-900">
                <div class="cursor-pointer fork-icon" data-target-datetime="<%= it.last_modified %>">
                  <%== part("components/icon", name: "fork", classes: "text-black-600") %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
