<%
  hostname = @pg.hostname
  password = URI.encode_uri_component(@pg.superuser_password)
  hostnames = [[hostname, ""]]
  allow_private = @pg.private_subnet.connected_subnets.any?
  hostnames << ["private.#{hostname}", "-private"] if allow_private

  connection_infos = {}
  ports = [5432, 6432]
  hostnames.each do |hostname, suffix|
    ports.each do |port|
      ssl_opt = (port == 5432) ? "channel_binding=require" : "sslmode=require"
      connection_infos["url-#{port}#{suffix}"] = "postgresql://postgres:#{password}@#{hostname}:#{port}/postgres?#{ssl_opt}"
      connection_infos["psql-#{port}#{suffix}"] = "psql postgresql://postgres:#{password}@#{hostname}:#{port}/postgres?#{ssl_opt}"

      ssl_opt = (port == 5432) ? "PGCHANNELBINDING=require" : "PGSSLMODE=require"
      connection_infos["env-#{port}#{suffix}"] = "PGHOST=#{hostname}\nPGPORT=#{port}\nPGUSER=postgres\nPGPASSWORD=#{password}\nPGDATABASE=postgres\n#{ssl_opt}"

      ssl_opt = (port == 5432) ? "channel_binding: require" : "sslmode: require"
      connection_infos["yaml-#{port}#{suffix}"] = "host: #{hostname}\nport: #{port}\nuser: postgres\npassword: #{password}\ndatabase: postgres\n#{ssl_opt}"

      ssl_opt = (port == 5432) ? "&channelBinding=require" : ""
      connection_infos["jdbc-#{port}#{suffix}"] = "jdbc:postgresql://#{hostname}:#{port}/postgres?user=postgres&password=#{password}&ssl=true#{ssl_opt}"
    end
  end
%>

<div class="p-6">
  <% if @pg.display_state != "creating" %>
    <div class="flex items-center gap-6 connection-info-format-selector">
      <div class="flex items-center gap-2">
        Format:
        <div>
          <%== part(
            "components/form/select",
            options: connection_infos.keys.map { it.split("-").first }.uniq.map { [it, it] },
            attributes: {
              "data-hostname" => @pg.hostname,
              "data-username" => "postgres",
              "data-password" => @pg.superuser_password,
              "data-database" => "postgres"
            },
          ) %>
        </div>
      </div>
      <div><%== part("components/form/checkbox", name: :use_pgbouncer, options: [["1", "Use pgBouncer?", "", {}]]) %></div>
      <% if allow_private %>
        <div><%== part("components/form/checkbox", name: :use_private_dns, options: [["1", "Use Private DNS?", "", {}]]) %></div>
      <% end %>
    </div>

    <%
      connection_infos.each_with_index do |(key, value), index|
      hidden_class = index == 0 ? "" : "hidden"
    %>
      <div class="bg-gray-200 rounded-md p-6 mt-5 connection-info-box connection-info-box-<%= key %> <%= hidden_class %>">
      <%== part("components/copyable_content", content: value, revealable: true, classes: "!flex justify-between") %>
      </div>
    <% end %>

    <div class="mt-5 flex items-center gap-2">
      CA Certificates: <%== part("components/download_button", link: "#{path(@pg)}/ca-certificates")%>
    </div>
  <% else %>
    <div class="flex flex-col items-center justify-center h-full">
      <h2 class="text-2xl font-semibold text-gray-900">No connection information available</h2>
      <p class="text-gray-500 mt-2">Connection information will be available once the database is running.</p>
    </div>
  <% end %>
</div>


