<% @page_title = "PostgreSQL Databases" %>

<% if @postgres_databases.count > 0 %>
  <%== part(
    "components/page_header",
    breadcrumbs: [%w[Projects /project], [@project.name, @project.path], ["PostgreSQL Databases", "#"]],
    right_items: [<<-DROPDOWN]
      <div class="group dropdown relative inline-block text-left">
        <div>#{part("components/button", text: "Create PostgreSQL Database", right_icon: "hero-chevron-down")}
        </div>
        <div class="hidden group-active:block group-active:opacity-100 opacity-0 transition scale-95 absolute -right-2 z-10 mt-2 w-72 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5" role="menu" tabindex="-1">
          #{postgres_flavors.values.map do
            <<-ITEM
            <div class="py-1 transition-colors" role="none">
              <a href="#{@project.path}/postgres/create?flavor=#{it.name}" class="block px-4 py-3 ">
                <h3 class="subsection-heading">#{it.title}</h3>
                <p class="mt-1 help-text">#{it.description}</p>
              </a>
            </div>
            ITEM
          end.join}
        </div>
      </div>
    DROPDOWN
  ) %>

  <div class="content-grid">
    <%== part(
      "components/table_card",
      headers: ["Name", "Compute", "Storage", "Version", "Parent", "Location", "State"],
      rows: @postgres_databases.map do |pg|
        [
          [
            [pg.name, {link: "#{path(pg)}/overview"}],
            [pg.vm_size],
            [pg.storage_size_gib],
            [pg.version],
            pg.parent ? [pg.parent.name, {link: path(pg.parent)}] : [""],
            [pg.display_location],
            ["pg_state_label", {component: { state: pg.display_state }}]
          ],
          {id: "pg-#{pg.ubid}"}
        ]
      end
    ) %>
  </div>
<% else %>
  <%== part(
    "components/page_header",
    title: "Create PostgreSQL Database",
    breadcrumbs: [%w[Projects /project], [@project.name, @project.path], ["PostgreSQL Databases", "#"]]
  ) %>

  <div class="content-grid">
    <div class="card-grid">
      <% postgres_flavors.values.each do %>
        <div class="feature-card">
          <div>
            <span class="inline-flex rounded-lg overflow-hidden w-12 h-12">
              <img src="/icons/pg-<%= it.brand.downcase %>.png" class="object-cover"/>
            </span>
          </div>
          <div class="mt-4">
            <h3 class="subsection-heading">
              <a href="<%= @project.path %>/postgres/create?flavor=<%= it.name %>">
                <span class="absolute inset-0" aria-hidden="true"></span>
                Create <%= it.title %>
              </a>
            </h3>
            <p class="description-text"><%= it.description %></p>
          </div>
          <span class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400">
            <%== part("components/icon", name: "hero-arrow-up-right") %>
          </span>
        </div>
    <% end %>
    </div>
  </div>
<% end %>
