<div class="p-6">
  <% if @pg.timeline.earliest_restore_time %>
    <div class="md:flex md:items-center md:justify-between">
      <div class="min-w-0 flex-1">
        <h3 class="text-2xl font-bold text-gray-900 sm:text-2xl sm:truncate sm:tracking-tight">Read Replicas</h3>
      </div>
    </div>
    <div class="table-wrapper" style="border-bottom: 1px solid var(--gray-200);"">
      <table class="table">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">State</th>
          </tr>
        </thead>
        <tbody style="border-bottom: 1px solid var(--gray-200);" bg-white">
          <% @pg.read_replicas.each do |read_replica| %>
            <tr>
              <td>
                <a href="<%= path(read_replica) %>/overview" class="text-orange-600">
                  <%= read_replica.name %>
                </a>
              </td>
              <td>
                <%== part("components/pg_state_label", state: read_replica.display_state, extra_class: "text-md") %>
              </td>
            </tr>
          <% end %>
          <% if @edit_perm %>
            <tr>
              <td>
                <%== part("components/form/text", name: "name", attributes: { placeholder: @pg.name + "-read-replica", required: true, form: "form-pg-read-replica-create" }) %>
              </td>
              <td>
                <% form(action: "#{path(@pg)}/read-replica", method: :post, id: "form-pg-read-replica-create") do %>
                  <%== part("components/form/submit_button", text: "Create", extra_class: "pg-read-replica-create-btn") %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="text-gray-500">
      Server is not ready for read replicas. There are no backups, yet.
    </div>
  <% end %>
</div>
