<% delete_perm = has_permission?("Postgres:delete", @pg) %>

<% if @edit_perm %>
  <div class="section-padded">
    <div class="flex-header">
      <div class="flex-title">
        <h3 class="section-heading">
          Maintenance Window
        </h3>
      </div>
    </div>
    <div class="table-card">
      <div class="card-body">
        <% form(action: "#{path(@pg)}/set-maintenance-window", method: :post) do %>
          <div class="form-group">
            <div class="grid-12col">
              <div class="form-col-7">
                <%== part(
                    "components/form/select",
                    name: "maintenance_window_start_at",
                    placeholder: "No Maintenance Window",
                    options:
                      (0..23).map do
                        [it, "#{"%02d" % it}:00 - #{"%02d" % ((it + PostgresResource::MAINTENANCE_DURATION_IN_HOURS) % 24)}:00 (UTC)"]
                      end,
                    label: "Maintenance Window:",
                    selected: @pg.maintenance_window_start_at
                  ) %>
              </div>
              <div class="form-col-5-end">
                <%== part("components/form/submit_button", text: "Set") %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<!-- Danger Zone -->
<% if @edit_perm || delete_perm %>
  <div class="section-padded">
    <div class="flex-header">
      <div class="flex-title">
        <h3 class="section-heading">
          Danger Zone
        </h3>
      </div>
    </div>
    <div class="table-card">
      <!-- Promote -->
      <% if @edit_perm && @pg.read_replica? %>
        <div class="card-body">
          <% form(action: "#{path(@pg)}/promote", method: :post) do %>
            <div class="flex-header-sm">
              <div>
                <h3 class="subsection-heading">Promote PostgreSQL read replica database</h3>
                <div class="description-text">
                  <p>This action will promote and restart the PostgreSQL database. The database will stop replicating
                    permanently. It will be offline momentarily, and all connections will be dropped.</p>
                </div>
              </div>
              <div id="postgres-replica-promote-<%=@pg.ubid %>" class="actions-right">
                <div class="action-button-column">
                  <%== part("components/form/submit_button", text: "Promote", extra_class: "promote-btn") %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <!-- Reset password -->
      <% if @edit_perm && !@pg.read_replica? %>
        <div class="card-body">
          <% form(action: "#{path(@pg)}/reset-superuser-password", method: :post) do %>
            <div class="form-group">
              <div>
                <h3 class="subsection-heading">Reset superuser password</h3>
              </div>
              <div class="grid-12col">
                <div class="form-field-large">
                  <%== part(
                      "components/form/text",
                      label: "New password",
                      name: "password",
                      type: "password",
                      attributes: {
                        required: true
                      },
                      extra_class: "reset-superuser-password-new-password"
                    ) %>
                </div>
                <div class="form-field-large">
                  <%== part(
                      "components/form/text",
                      label: "New password (repeat)",
                      name: "repeat_password",
                      type: "password",
                      attributes: {
                        required: true
                      },
                      extra_class: "reset-superuser-password-new-password-repeat"
                    ) %>
                </div>
                <div class="action-button-column">
                  <%== part("components/form/submit_button", text: "Reset") %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <!-- Restart Card -->
      <% if @edit_perm %>
        <div class="card-body">
          <% form(action: "#{path(@pg)}/restart", method: :post) do %>
            <div class="flex-header-sm">
              <div>
                <h3 class="subsection-heading">Restart PostgreSQL database</h3>
                <div class="description-text">
                  <p>This action will restart the PostgreSQL database. The database will be offline momentarily, and all
                    connections will be dropped.</p>
                </div>
              </div>
              <div id="postgres-restart-<%=@pg.ubid %>" class="actions-right">
                <div class="action-button-column">
                  <%== part("components/form/submit_button", text: "Restart", extra_class: "restart-btn") %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="card-body">
          <% form(action: "#{path(@pg)}/rename", method: :post) do %>
            <%== part("components/rename_object_input", object: @pg, type: "PostgreSQL database", text: "Renaming a PostgreSQL database changes the connection info, so doing so requires updating your applications.") %>
          <% end %>
        </div>
      <% end %>
      <!-- Delete Card -->
      <% if delete_perm %>
        <div class="card-body">
          <div class="flex-header-sm">
            <div>
              <h3 class="subsection-heading">Delete PostgreSQL database</h3>
              <div class="description-text">
                <p>This action will permanently delete this PostgreSQL database.</p>
              </div>
            </div>
            <div id="postgres-delete-<%=@pg.ubid %>" class="actions-right">
              <%== part("components/delete_button", url: path(@pg), confirmation: @pg.name, redirect: "#{@project.path}/postgres") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
