<%# locals: (name: nil, id_prefix: nil, label: nil, options: {}, description: nil, attributes: {}) %>

<div class="form-group-colored">
  <% if label %>
    <label class="form-label-block"><%== label %></label>
  <% end %>
  <fieldset>
    <div class="form-group">
      <% options.each_with_index do |(opt_val, opt_text, opt_classes, opt_attrs), idx| %>
        <% id = "#{id_prefix}#{name}-#{opt_val}-#{idx}" %>
        <div class="checkbox-wrapper <%= opt_classes %>">
          <div class="checkbox-input-wrapper">
            <input
              id="<%= id %>"
              name="<%= name %>"
              type="checkbox"
              value="<%= opt_val %>"
              class="checkbox-input"
              <%== html_attrs(opt_attrs || {}) %>
            >
          </div>
          <% if opt_text %>
            <div class="checkbox-label-wrapper">
              <label for="<%= id %>" class="checkbox-label"><%== opt_text %></label>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </fieldset>
  <% if description %>
    <p class="help-text"><%== description %></p>
  <% end %>
</div>
