<% name ||= nil
label ||= nil
options ||= {}
selected = flash.dig("old", name) || selected
error ||= flash.dig("errors", name)
description ||= nil
attributes ||= {} %>

<div class="space-y-2">
  <label for="<%= name %>" class="text-sm font-medium leading-6 text-gray-900"><%= label %></label>
  <fieldset class="radio-small-cards" id="<%= name %>-radios">
    <legend class="sr-only"><%= label %></legend>
    <div class="grid gap-3 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
      <% options.each do |opt_val, opt_text, opt_details| %>
        <label>
          <input
            type="radio"
            name="<%= name %>"
            value="<%= opt_val %>"
            data-details="<%= opt_details %>"
            class="peer sr-only"
            <%= (opt_val == selected) ? "checked" : "" %>
            <% attributes.each do |atr_key, atr_value| %>
            <%= atr_key %>="<%= atr_value %>"
            <% end%>
          >
          <span
            class="flex items-center justify-center rounded-md py-3 px-3 text-sm font-semibold sm:flex-1 cursor-pointer focus:outline-none
              ring-1 ring-gray-300 bg-white text-gray-900 hover:bg-gray-50
              peer-focus-visible:ring-2 peer-focus-visible:ring-orange-600 peer-focus-visible:ring-offset-2 peer-checked:bg-orange-600 peer-checked:text-white peer-checked:hover:bg-orange-700"
          ><%= opt_text %></span>
        </label>
      <% end %>
    </div>
  </fieldset>
  <% if error %>
    <p class="text-sm text-red-600 leading-6" id="<%= name %>-error"><%= error %></p>
  <% end %>
  <% if description %>
    <p class="text-sm text-gray-500 leading-6" id="<%= name %>-description"><%= description %></p>
  <% end %>
</div>
