<%# locals: (name:, label:, options:, additional_element: nil, description_html: nil, attributes:) %>
<% selected = typecast_body_params.str(name) || selected
error = flash.dig("errors", name)
is_content_array = options[0][1].is_a?(Array) %>

<div class="form-group">
  <label class="table-cell-header"><%= label %></label>
  <fieldset class="radio-small-cards">
    <legend class="sr-only"><%= label %></legend>
    <div class="radio-cards-grid">
      <% options.each_with_index do |(opt_val, opt_text, opt_classes, opt_attrs), idx| %>
        <label class="<%= opt_classes %>">
          <input
            type="radio"
            name="<%= name %>"
            value="<%= opt_val %>"
            class="peer sr-only"
            <%== html_attrs(**attributes, **opt_attrs) %>
          >
          <% if is_content_array %>
            <span class="radio-small-card radio-card-content">
              <span class="flex-col">
                <span class="radio-card-label"><%= opt_text[0] %></span>
                <span class="text-sm opacity-80"><span class="block sm:inline"><%= opt_text[1] %></span></span>
              </span>
              <span class="radio-card-pricing">
                <span class="font-medium"><%= opt_text[2] %></span>
                <span class="radio-card-price-amount opacity-50"><%= opt_text[3] %></span>
              </span>
            </span>
          <% else %>
            <span class="radio-small-card radio-card-text"><%= opt_text %></span>
          <% end %>
        </label>
      <% end %>
      <%== additional_element %>
    </div>
  </fieldset>
  <% if error %>
    <p class="text-error-sm" id="<%= name %>-error"><%= error %></p>
  <% end %>
  <%== description_html %>
</div>
