<%# locals: (name:, value: nil, label: nil, description: nil, escape_description: true, attributes: {}) %>
<% value = typecast_body_params.str(name) || value
escaped_description = escape_description ? h(description) : description
error = flash.dig("errors", name) %>

<div class="form-group">
  <% if label %>
    <label for="<%= name %>" class="form-label-block"><%= label %></label>
  <% end %>
  <textarea
    id="<%= name %>"
    name="<%= name %>"
    class="<%= error ? "textarea-field-error" : "textarea-field" %>"
    <%== html_attrs(attributes) %>
  ><%= value %></textarea>
  <% if description %>
    <p class="help-text" id="<%= name %>-description"><%== escaped_description %></p>
  <% end %>
  <%== part("components/form/error", name:, error:) if error %>
</div>
