<% @page_title = "Inference Tokens" %>
<%== render("inference/tabbar") %>

<div>
  <%== render(
    "components/table_card",
    locals: {
      headers: ["ID", "Token", ""],
      empty_state: "No inference tokens",
      rows:
        @inference_tokens.map do |token|
          [
            [
              token[:id],
              [token[:key], { revealable: true, copyable: true }],
              (
                if has_project_permission("InferenceToken:delete")
                  [
                    "delete_button",
                    {
                      component: {
                        text: "Delete",
                        url: "#{@project_data[:path]}/inference-token/#{token[:id]}",
                        confirmation: "delete token"
                      }
                    }
                  ]
                else
                  "No Permission to delete"
                end
              )
            ],
            { id: "token-#{token[:id]}" }
          ]
        end
    }
  ) %>

  <% if has_project_permission("InferenceToken:create") && @inference_tokens.size < 10 %>
    <div class="flex justify-end space-y-1 mt-6">
      <form id="create-inference-token" action="<%= "#{@project_data[:path]}/inference-token" %>" role="form" method="POST">
        <%== csrf_tag("#{@project_data[:path]}/inference-token") %>
        <%== render("components/form/submit_button", locals: { text: "Create Token" }) %>
      </form>
    </div>
  <% end %>
</div>
