<% @page_title = "Private Subnets" %>

<% if @pss.count > 0 %>
  <div class="space-y-1">
    <%== render(
      "components/breadcrumb",
      locals: {
        back: @project_data[:path],
        parts: [%w[Projects /project], [@project_data[:name], @project_data[:path]], ["Private Subnets", "#"]]
      }
    ) %>

    <%== render(
      "components/page_header",
      locals: {
        title: "Private Subnets",
        right_items: [
          "<a href='private-subnet/create' class='inline-flex items-center rounded-md bg-orange-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600'>Create Private Subnet</a>"
        ]
      }
    ) %>
  </div>

  <div class="grid gap-6">
    <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
      <table class="min-w-full divide-y divide-gray-300">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Location</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">State</th>
            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
              <span class="sr-only">Show</span>
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
          <% @pss.each do |ps| %>
            <tr>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" scope="row"><%= ps[:name] %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= ps[:location] %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                <%== render("components/ps_state_label", locals: { state: ps[:state] }) %>
              </td>
              <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                <a href="<%= @project_data[:path] %><%= ps[:path] %>" class="text-orange-600 hover:text-orange-700">Show</a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <%== render(
    "components/empty_state",
    locals: {
      icon:
        "<path stroke-linecap='round' stroke-linejoin='round' d='M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418' />",
      title: "No private subnets",
      description: "Get started by creating a new private subnet.",
      button_link: "#{@project_data[:path]}/private-subnet/create",
      button_title: "New Private Subnet"
    }
  ) %>
<% end %>
