<% @page_title = "Inference Endpoints" %>
<%== render("components/free_quota") %>
<%== render("inference/tabbar") %>

<div class="inference-grid">
  <% @inference_models.each_with_index do | ie, index |
    path, model_icon, curl_message = case ie.tags["capability"]
      when "Text Generation"
        [
          "/v1/chat/completions",
          "hero-chat-bubble-bottom-center-text",
        <<-MSG
"messages": [{"role": "user", "content": "say something"}],
    "stream": true
MSG
        ]
      when "Embeddings"
        ["/v1/embeddings", "hero-document-arrow-down", "\"input\": \"embed me!\"\n"]
      # :nocov:
      else
        fail "Unknown model capability"
      # :nocov:
    end


    curl_snippet = <<-CURL
curl #{ie.load_balancer.health_check_url(path:)} \\
  -H <span class="syntax-string">"Content-Type: application/json"</span> \\
  -H <span class="syntax-string">"Authorization: Bearer <span class="syntax-variable">$INFERENCE_API_KEY</span>"</span> \\
  -d <span class="syntax-string">'{
    "model": "#{ie.model_name}",
    #{curl_message}   }'</span>
  CURL
    %>
  <div class="card" p-4">
    <h2 class="model-card-heading"><%= ie.tags["display_name"] || ie.model_name %></h2>
    <div class="overview-grid">
      <div>
        <h3 class="section-label">Model card</h3>
        <div class="icon-text-pair">
          <%if hf_model = ie.tags["hf_model"]%>
          <a target="_blank" rel="noreferrer" href="https://huggingface.co/<%= hf_model %>" class="link-huggingface">🤗 <%= hf_model %></a>
          <%else%>
          <p class="text-muted">Not available</p>
          <%end%>
        </div>
      </div>
      <div>
        <h3 class="section-label">Price</h3>
        <p class="text-muted">
          Input: $<%= "%0.02f" % million_token_price(ie.prompt_billing_resource) %> / 1M tokens
          <br>
          Output: $<%= "%0.02f" % million_token_price(ie.completion_billing_resource) %> / 1M tokens
        </p>
      </div>
      <div>
        <h3 class="section-label">Capability</h3>
        <div class="icon-text-pair">
          <%== part("components/icon", name: model_icon, classes: "icon-md text-muted") %>
          <%= ie.tags["capability"] %>
        </div>
      </div>
      <div>
        <h3 class="section-label">Context length</h3>
        <p class="text-muted"><%= ie.tags.fetch("context_length", "Full") %></p>
      </div>
      <div class="grid-col-2">
        <h3 class="section-label">URL</h3>
        <div class="text-muted"><%== part("components/copyable_content", content: ie.load_balancer.health_check_url, message: "Copied URL") %></div>
      </div>
      <div class="grid-col-2">
        <h3 class="section-label">
          CURL usage example
        </h3>
        <div class="spaced-top-sm">
          <pre class="code-block-dark"><%== curl_snippet %></pre>
        </div>
      </div>
      <% if ie.tags["capability"] == "Text Generation" %>
      <%== render(
        "components/button",
        locals: {
          text: "Try in Playground",
          link: "#{@project.path}/inference-playground##{ie.ubid}",
          attributes: {
            "type" => "button"
          }
        }
      ) %>
      <% end %>
    </div>
  </div>
  <% end %>

</div>
