<% @page_title = "Playground" %>
<% @enable_marked = true %>
<%== render("inference/tabbar") %>
<div class="rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
  <div class="px-4 py-5 sm:p-6 grid gap-6">
    <div class="flex gap-10 text-gray-900">
      <div class="flex items-center gap-2">
        <label for="inference_endpoint" class="text-sm font-medium leading-6">Inference Endpoint</label>
        <%== render(
          "components/form/select",
          locals: {
            name: "inference_endpoint",
            placeholder: "Pick an endpoint",
            options: @inference_endpoints.map { |ie| [ie[:url], ie[:model_name]] },
            selected: @inference_endpoints.any? ? @inference_endpoints.first[:url] : nil
          }
        ) %>
      </div>
      <div class="flex items-center gap-2">
        <label for="inference_token" class="text-sm font-medium leading-6">Inference Token</label>
        <%== render(
          "components/form/select",
          locals: {
            name: "inference_token",
            placeholder: "Pick a token",
            options: @inference_tokens.map { |it| [it[:key], it[:id]] },
            selected: @inference_tokens.any? ? @inference_tokens.first[:key] : nil
          }
        ) %>
      </div>
    </div>
    <div class="shadow-md rounded-lg p-2 bg-gray-50 sticky top-16 z-40">
      <%== render(
        "components/form/textarea",
        locals: {
          name: "inference_prompt",
          attributes: {
            "autofocus" => true,
            "placeholder" => "User prompt to be submitted to the inference endpoint"
          }
        }
      ) %>
      <%== render(
        "components/button",
        locals: {
          text: "Submit",
          attributes: {
            "name" => "inference_submit",
            "id" => "inference_submit",
            "type" => "button"
          },
          extra_class: "mt-2"
        }
      ) %>
    </div>
    <div class="mt-4 text-gray-900">
      <span id="inference_response_stream" class="overflow-auto min-h-48 whitespace-pre-line"></span>
      <span id="inference_response_pretty" class="prose"></span>
    </div>
  </div>
</div>
