<% attachable_subnets = dataset_authorize(@project
    .private_subnets_dataset
    .eager(:location)
    .where(location_id: @location.id),
  "PrivateSubnet:view")
  .exclude(id: @firewall.private_subnets_dataset.select(:id))
  .all

viewable_subnet_map = dataset_authorize(@firewall.private_subnets_dataset, "PrivateSubnet:view")
  .select_hash(:id, Sequel.as(true, :v))

firewall_path = path(@firewall)
edit_perm = has_permission?("Firewall:edit", @firewall) %>

<div class="p-6 grid gap-6">
  <div class="flex-header">
    <div class="flex-title">
      <h3 class="section-heading">
        Firewall Rules
      </h3>
    </div>
  </div>
  <div class="table-card">
    <table class="table">
      <thead class="table-header-bg">
        <tr>
          <th scope="col">CIDR</th>
          <th scope="col">Port range</th>
          <th scope="col">Description</th>
          <% if edit_perm %>
            <th scope="col"></th>
          <% end %>
        </tr>
      </thead>
      <tbody class="table-body-bg">
        <% @firewall.firewall_rules.sort_by { [it.cidr.version, it.cidr.to_s] }.each do |fwr| %>
          <tr>
            <% if edit_perm %>
              <% form = "form-fw-edit-rule-#{fwr.ubid}" %>
              <% handle_params_and_errors = @fwr_id == fwr.id %>
              <% ubid = fwr.ubid %>
              <td scope="row">
                <%== part(
                  "components/form/text",
                  name: "cidr",
                  id: "cidr-#{ubid}",
                  value: fwr.cidr.to_s,
                  handle_params_and_errors:,
                  attributes: {
                    placeholder: "0.0.0.0/0",
                    required: true,
                    form:
                  }
                ) %>
              </td>
              <td scope="row">
                <%== part(
                  "components/form/text",
                  name: "port_range",
                  id: "port_range-#{ubid}",
                  value: fwr.display_port_range,
                  handle_params_and_errors:,
                  attributes: {
                    placeholder: "0..65536",
                    form:
                  }
                ) %>
              </td>
              <td scope="row">
                <%== part(
                  "components/form/text",
                  name: "description",
                  id: "description-#{ubid}",
                  value: fwr.description,
                  handle_params_and_errors:,
                  attributes: {
                    form:
                  }
                ) %>
              </td>
            <% else %>
              <td scope="row"><%= fwr.cidr %></td>
              <td scope="row"><%= fwr.display_port_range %></td>
              <td scope="row"><%= fwr.description %></td>
            <% end %>
            <% if edit_perm %>
              <td
                id="fwr-delete-<%= ubid %>"
               
              >
                <% form(action: "#{firewall_path}/firewall-rule/#{ubid}/patch", method: :post, id: form, class: " inline-flex items-center justify-center") do %>
                  <%== part("components/form/submit_button", icon: "hero-pencil", attributes: {id: "submit-#{ubid}"}) %>
                <% end %>
                <%== part("components/delete_button", url: "#{firewall_path}/firewall-rule/#{ubid}", text: "") %>
              </td>
            <% end %>
          </tr>
        <% end %>
        <% if edit_perm %>
          <% handle_params_and_errors = @fwr_id == :create %>
          <tr>
            <td scope="row">
              <%== part(
                "components/form/text",
                name: "cidr",
                handle_params_and_errors:,
                attributes: {
                  placeholder: "0.0.0.0/0",
                  required: true,
                  form: "form-fw-create-rule-#{@firewall.ubid}"
                }
              ) %>
            </td>
            <td scope="row">
              <%== part(
                "components/form/text",
                name: "port_range",
                handle_params_and_errors:,
                attributes: {
                  placeholder: "0..65536",
                  form: "form-fw-create-rule-#{@firewall.ubid}"
                }
              ) %>
            </td>
            <td scope="row">
              <%== part(
                "components/form/text",
                handle_params_and_errors:,
                name: "description",
                attributes: {
                  form: "form-fw-create-rule-#{@firewall.ubid}"
                }
              ) %>
            </td>
            <td>
              <% form(action: "#{firewall_path}/firewall-rule", method: :post, id: "form-fw-create-rule-#{@firewall.ubid}") do %>
                <%== part("components/form/submit_button", text: "Create") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="flex-header">
    <div class="flex-title">
      <h3 class="section-heading">
        Attached Private Subnets
      </h3>
    </div>
  </div>
  <div id="fw-private-subnets" class="table-card">
    <table class="table">
      <thead class="table-header-bg">
        <tr>
          <th scope="col">Name</th>
          <% if edit_perm %>
            <th scope="col"></th>
          <% end %>
        </tr>
      </thead>
      <tbody class="table-body-bg">
        <% @firewall.private_subnets.each do |ps| %>
          <tr>
            <td scope="row">
              <% if viewable_subnet_map[ps.id] %>
                <a href="<%= path(ps) %>" class="link-primary"><%= ps.name %></a>
              <% else %>
                <%= ps.name %>
              <% end %>
            </td>
            <% if edit_perm %>
              <td>
                <% form(action: "#{firewall_path}/detach-subnet", method: :post) do %>
                  <input type="hidden" name="private_subnet_id" value="<%= ps.ubid %>">
                  <%== part("components/form/submit_button", text: "Detach") %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
        <% if edit_perm %>
          <tr>
            <td class="table-cell-compact" scope="row">
              <%== part(
                "components/form/select",
                name: "private_subnet_id",
                placeholder: "Select a subnet",
                options: attachable_subnets.map { [it.ubid, it.name] },
                attributes: {
                  required: true,
                  form: "form-fw-attach-#{@firewall.ubid}"
                }
              ) %>
            </td>
            <td>
              <% form(action: "#{firewall_path}/attach-subnet", method: :post, id: "form-fw-attach-#{@firewall.ubid}") do %>
                <%== part("components/form/submit_button", text: "Attach") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
