<% @page_title = @firewall[:name] %>

<div class="space-y-1">
  <%== render(
    "components/breadcrumb",
    locals: {
      back: "#{@project_data[:path]}/firewall",
      parts: [
        %w[Projects /project],
        [@project_data[:name], @project_data[:path]],
        ["Firewall", "#{@project_data[:path]}/firewall"],
        [@firewall[:name], "#"]
      ]
    }
  ) %>
  <%== render("components/page_header", locals: { title: @firewall[:name] }) %>
</div>
<div class="grid gap-6">
  <!-- Detail Card -->
  <%== render(
    "components/kv_data_card",
    locals: {
      data: [["ID", @firewall[:id]], ["Name", @firewall[:name]], ["Description", @firewall[:description]]]
    }
  ) %>
  <div class="md:flex md:items-center md:justify-between pb-2 lg:pb-4">
    <div class="min-w-0 flex-1">
      <h3 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-2xl sm:tracking-tight">
        Firewall Rules
      </h3>
    </div>
  </div>
  <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">CIDR</th>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Port range</th>
          <% if Authorization.has_permission?(@current_user.id, "Firewall:edit", @firewall[:id]) %>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></th>
          <% end %>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        <% @firewall[:firewall_rules].each do |fwr| %>
          <tr>
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" scope="row"><%= fwr[:cidr] %></td>
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" scope="row"><%= fwr[:port_range] %></td>
            <% if Authorization.has_permission?(@current_user.id, "Firewall:edit", @firewall[:id]) %>
              <td
                id="fwr-delete-<%=fwr[:id]%>"
                class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6"
              >
                <button
                  type="button"
                  data-url="<%= "#{request.path}/firewall-rule/#{fwr[:id]}" %>"
                  data-csrf="<%= csrf_token("#{request.path}/firewall-rule/#{fwr[:id]}", "DELETE") %>"
                  data-redirect="<%= request.path.to_s %>"
                  class="delete-btn inline-flex items-center rounded-md bg-rose-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-rose-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-600"
                >
                  <%== render("components/icon", locals: { name: "hero-trash", classes: "h-5 w-5" }) %>
                </button>
              </td>
            <% end %>
          </tr>
        <% end %>
        <% if Authorization.has_permission?(@current_user.id, "Firewall:edit", @firewall[:id]) %>
          <tr>
            <form action="<%= "#{request.path}/firewall-rule" %>" role="form" method="POST">
              <%== csrf_tag("#{request.path}/firewall-rule") %>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" scope="row">
                <%== render(
                  "components/form/text",
                  locals: {
                    name: "cidr",
                    type: "cidr",
                    attributes: {
                      placeholder: "0.0.0.0/0",
                      required: true
                    }
                  }
                ) %>
              </td>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" scope="row">
                <%== render("components/form/text", locals: { name: "port_range", type: "text", attributes: { placeholder: "0..65536" } }) %>
              </td>
              <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                <%== render("components/form/submit_button", locals: { text: "Create" }) %>
              </td>
            </form>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="md:flex md:items-center md:justify-between pb-2 lg:pb-4">
    <div class="min-w-0 flex-1">
      <h3 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-2xl sm:tracking-tight">
        Attached Private Subnets
      </h3>
    </div>
  </div>
  <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
          <% if Authorization.has_permission?(@current_user.id, "Firewall:edit", @firewall[:id]) %>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></th>
          <% end %>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        <% @firewall[:private_subnets].each do |ps| %>
          <tr>
            <form action="<%= "#{request.path}/detach-subnet" %>" role="form" method="POST">
              <%== csrf_tag("#{request.path}/detach-subnet") %>
              <input type="hidden" name="private-subnet-id" value="<%= ps[:id] %>">
              <td class="whitespace nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" scope="row">
                <a
                  href="<%= "#{@project_data[:path]}/location/#{ps[:location]}/private-subnet/#{ps[:name]}" %>"
                  class="text-orange-600 hover:text-orange-700"
                ><%= ps[:name] %></a>
              </td>
              <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                <%== render("components/form/submit_button", locals: { text: "Detach" }) %>
              </td>
            </form>
          </tr>
        <% end %>
        <% if Authorization.has_permission?(@current_user.id, "Firewall:edit", @firewall[:id]) %>
          <tr>
            <form action="<%= "#{request.path}/attach-subnet" %>" role="form" method="POST">
              <%== csrf_tag("#{request.path}/attach-subnet") %>
              <td class="whitespace-nowrap py-4 pl-2 pr-3 text-sm font-medium text-gray-900 sm:pl-6" scope="row">
                <%== render(
                  "components/form/select",
                  locals: {
                    name: "private-subnet-id",
                    placeholder: "Select a subnet",
                    options: @attachable_subnets.map { |s| [s[:id], s[:name]] },
                    attributes: {
                      required: true
                    }
                  }
                ) %>
              </td>
              <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                <%== render("components/form/submit_button", locals: { text: "Attach" }) %>
              </td>
            </form>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- Delete Card -->
  <% if Authorization.has_permission?(@current_user.id, "Firewall:delete", @firewall[:id]) %>
    <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
      <div class="px-4 py-5 sm:p-6">
        <div class="sm:flex sm:items-center sm:justify-between">
          <div>
            <h3 class="text-base font-semibold leading-6 text-gray-900">Delete firewall</h3>
            <div class="mt-2 text-sm text-gray-500">
              <p>This action will permanently delete this firewall. Deleted firewall cannot be recovered. Use it
                carefully.</p>
            </div>
          </div>
          <div class="mt-5 sm:ml-6 sm:mt-0 sm:flex sm:flex-shrink-0 sm:items-center">
            <%== render(
              "components/delete_button",
              locals: {
                url: request.path,
                confirmation: @firewall[:name],
                redirect: "#{@project_data[:path]}/firewall"
              }
            ) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
