<%# locals: (title:, table_class:, data:, use_admin_label: true) %>

<% if data.empty? %>
  <p>
    No data available for
    <strong><%= title %></strong>
    table
  </p>
<% else %>
  <table class="<%= table_class %>">
    <caption><%= title %></caption>
    <thead>
      <tr>
        <% data.first.each_key do |k| %>
          <th><%= k %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% data.each do |row| %>
        <tr>
          <% row.each_value do |v| %>
            <td>
              <% if use_admin_label && v.is_a?(String) && v.bytesize == 26 && (column_class = UBID.class_for_ubid(v)) && column_class.method_defined?(:ubid) && (obj = UBID.decode(v)) %>
                <a href="/model/<%= column_class %>/<%= v %>" title="<%= v %>"><%= obj.admin_label %></a>
              <% elsif v&.is_a?(Sequel::Postgres::JSONBHash) %>
                <pre><%== linkify_ubids(JSON.pretty_generate(v)) %></pre>
              <% else %>
                <%== linkify_ubids(v.to_s) %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
