<% @page_title = "Add VM Host" %>

<div class="px-2 sm:px-3 lg:px-4">
  <div>
    <%== render("components/breadcrumb", locals: { back: "/vm-host", parts: [["VM Hosts", "/vm-host"], %w[Add #]] }) %>
    <%== render("components/page_header", locals: { title: "Add VM Host" }) %>
  </div>
  <!-- Create Card -->
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg bg-white">
          <form action="/vm-host" method="POST">
            <!-- YYY: need a better way to manage coupling of routes and erbs -->
            <%== csrf_tag("/vm-host") %>
            <div class="space-y-12 px-4 py-6 sm:p-8">
              <div class="border-b border-gray-900/10 pb-12">
                <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                  <div class="col-span-full">
                    <%== render(
                      "components/form/text",
                      locals: {
                        name: "hostname",
                        label: "Hostname or IP Address",
                        description:
                          "Control plane connects to VM host as <span class='font-bold text-rose-500'>root</span> user via SSH. One of following keys should be added to the host before adding VM host.",
                        attributes: {
                          required: true,
                          placeholder: "i.e: 10.10.10.10, example.com"
                        }
                      }
                    ) %>
                    <div class="mt-2 space-y-2">
                      <% if @ssh_keys && !@ssh_keys.empty? %>
                        <% @ssh_keys.each do |key| %>
                          <div
                            class="overflow-scroll whitespace-nowrap font-mono rounded-lg overlay text-sm leading-6 bg-slate-800 text-slate-50 px-4 py-2"
                          >
                            <%= key %>
                          </div>
                        <% end %>
                      <% else %>
                        <div class="rounded-md bg-red-50 p-4 text-sm text-red-800 font-medium">
                          Could not detect any SSH keys loaded. Use "<span class="font-mono font-bold text-slate-800">ssh-add [PATH_TO_KEY]</span>" to add SSH keys to agent.
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-span-full">
                    <%== render(
                      "components/form/radio_small_cards",
                      locals: {
                        name: "location",
                        label: "Provider & Location",
                        options: Option::Locations.to_h { |l| [l.name, l.display_name] },
                        attributes: {
                          required: true
                        }
                      }
                    ) %>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-8 flex items-center justify-end gap-x-6 px-8">
              <a href="/vm-host" class="text-sm font-semibold leading-6 text-gray-900">Cancel</a>
              <%== render("components/form/submit_button", locals: { text: "Add" }) %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
